<div class="h-full">
    <div class="bg-white rounded shadow w-100 h-100 d-flex flex-column p-4 overflow-auto">
        <div class="p-4">
            <p class="m-0 d-flex fs-5">{{ 'callList.title' | translate }}</p>
        </div>

        <div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'common.time' | translate }}</th>
                            <th scope="col">{{ 'contact.contact' | translate }}</th>
                            <th scope="col">{{ 'contact.phoneNumber' | translate }}</th>
                            <th scope="col">{{ 'contact.channel' | translate }}</th>
                            <th scope="col">{{ 'contact.subject' | translate }}</th>
                            <th scope="col">{{ 'contact.topic' | translate }}</th>
                            <th scope="col">{{ 'contact.description' | translate }}</th>
                            <th scope="col">{{ 'common.status' | translate }}</th>
                            <th scope="col">{{ 'contact.callStatus' | translate }}</th>
                            <th scope="col">{{ 'contact.assignUser' | translate }}</th>
                            <th scope="col">{{ 'callList.action' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="paginatedCalls.length > 0; else noDataTemplate">
                            <tr *ngFor="let caseList of paginatedCalls; let i = index">
                                <td>{{ caseList.requestDateTime | date : 'dd/MM/yyyy HH:mm' }}</td>
                                <td>{{ caseList.fullname || '-' }}</td>
                                <td>{{ caseList.contactNumber || '-' }}</td>
                                <td>{{ caseList.channel || '-' }}</td>
                                <td>{{ caseList.subject || '-' }}</td>
                                <td>{{ caseList.topic || '-' }}</td>
                                <td>{{ caseList.description || '-' }}</td>
                                <td scope="row">
                                    <span
                                        *ngIf="caseList.status; else noStatus"
                                        class="status-badge"
                                        [style.background-color]="statusService.getStatusBgColor(caseList.status)"
                                    >
                                        {{ caseList.status }}
                                    </span>
                                    <ng-template #noStatus>-</ng-template>
                                </td>
                                <td>{{ caseList.callStatus || '-' }}</td>
                                <td>{{ caseList.assignUser || '-' }}</td>
                                <td class="text-center">
                                    <div class="d-flex flex-row flex-nowrap">
                                        <div
                                            class="me-3 color-blue-dark"
                                            placement="top"
                                            style="cursor: pointer"
                                            data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasRight"
                                            aria-controls="offcanvasRight"
                                            [ngbTooltip]="'callList.callAction' | translate"
                                            (click)="clickCall(caseList.caseId, caseList.contactId)"
                                        >
                                            <i class="fa-solid fa-phone"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noDataTemplate>
                            <tr>
                                <td colspan="11" class="text-center">
                                    <span class="color-gray">{{ 'common.dataNotFound' | translate }}</span>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
            <ul class="pagination sidebar justify-content-center">
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link custom-link preBtn" (click)="pageChange(1)" aria-label="Previous">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link custom-link" (click)="pageChange(currentPage - 1)" aria-label="Previous">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
                <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage == page">
                    <a class="page-link custom-link" (click)="pageChange(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link custom-link" (click)="pageChange(currentPage + 1)" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link custom-link nextBtn" (click)="pageChange(totalPages)" aria-label="Next">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
                <li class="page-item ms-3">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="pageSize" (change)="pageSizeChange()">
                        <option class="dropdown-item" *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</div>
