<div class="h-full">
    <div class="bg-white rounded shadow w-100 h-100 d-flex flex-column p-4 overflow-auto">
        <div class="p-4">
            <p class="m-0 d-flex fs-5">{{ 'callList.title' | translate }}</p>
        </div>

        <div class="table-card">
            <div class="table-scroll-container">
                <table class="table table-hover custom-table mb-0 table-fixed-header">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'common.time' | translate }}</th>
                            <th scope="col">{{ 'contact.contact' | translate }}</th>
                            <th scope="col">{{ 'contact.phoneNumber' | translate }}</th>
                            <th scope="col">{{ 'contact.channel' | translate }}</th>
                            <th scope="col">{{ 'contact.subject' | translate }}</th>
                            <th scope="col">{{ 'contact.topic' | translate }}</th>
                            <th scope="col">{{ 'contact.description' | translate }}</th>
                            <th scope="col">{{ 'common.status' | translate }}</th>
                            <th scope="col">{{ 'contact.callStatus' | translate }}</th>
                            <th scope="col">{{ 'contact.assignUser' | translate }}</th>
                            <th scope="col" class="text-center">{{ 'callList.action' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="paginatedCalls.length > 0; else noDataTemplate">
                            <tr *ngFor="let caseList of paginatedCalls; let i = index">
                                <td>{{ caseList.requestDateTime | date : 'dd/MM/yyyy HH:mm' }}</td>
                                <td>{{ caseList.fullname || '-' }}</td>
                                <td>
                                    <span *ngIf="caseList.contactNumber" class="phone-text">
                                        <i class="fa-solid fa-phone me-1"></i>{{ caseList.contactNumber }}
                                    </span>
                                    <span *ngIf="!caseList.contactNumber">-</span>
                                </td>
                                <td>
                                    <span
                                        *ngIf="caseList.channel; else noChannel"
                                        class="channel-badge"
                                        [style.background-color]="statusService.getChannelBgColor(caseList.channel)"
                                    >
                                        {{ caseList.channel }}
                                    </span>
                                    <ng-template #noChannel>-</ng-template>
                                </td>
                                <td class="text-truncate" style="max-width: 120px">{{ caseList.subject || '-' }}</td>
                                <td class="text-truncate" style="max-width: 120px">{{ caseList.topic || '-' }}</td>
                                <td
                                    class="text-truncate"
                                    style="max-width: 150px"
                                    [ngbTooltip]="caseList.description"
                                    [disableTooltip]="!caseList.description"
                                    container="body"
                                    placement="top"
                                >
                                    {{ caseList.description || '-' }}
                                </td>
                                <td>
                                    <span
                                        *ngIf="caseList.status; else noStatus"
                                        class="status-badge"
                                        [style.background-color]="statusService.getStatusBgColor(caseList.status)"
                                    >
                                        <i [class]="statusService.getStatusIcon(caseList.status)" class="me-1"></i>
                                        {{ caseList.status }}
                                    </span>
                                    <ng-template #noStatus>-</ng-template>
                                </td>
                                <td>
                                    <span *ngIf="caseList.callStatus" class="call-status-badge">{{ caseList.callStatus }}</span>
                                    <span *ngIf="!caseList.callStatus">-</span>
                                </td>
                                <td>{{ caseList.assignUser || '-' }}</td>
                                <td class="text-center">
                                    <button
                                        type="button"
                                        class="btn btn-action btn-success"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight"
                                        [ngbTooltip]="'callList.callAction' | translate"
                                        placement="top"
                                        (click)="clickCall(caseList.caseId, caseList.contactId)"
                                    >
                                        <i class="fa-solid fa-phone"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noDataTemplate>
                            <tr>
                                <td colspan="11" class="text-center py-5">
                                    <div class="empty-state">
                                        <i class="fa-solid fa-inbox fa-3x text-muted mb-3"></i>
                                        <p class="text-muted mb-0">{{ 'common.dataNotFound' | translate }}</p>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
        <nav class="d-flex justify-content-center mt-4">
            <ul class="pagination pagination-custom mb-0">
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link" (click)="pageChange(1)" aria-label="First">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link" (click)="pageChange(currentPage - 1)" aria-label="Previous">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
                <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage == page">
                    <a class="page-link" (click)="pageChange(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link" (click)="pageChange(currentPage + 1)" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link" (click)="pageChange(totalPages)" aria-label="Last">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
                <li class="page-item ms-3">
                    <select class="form-select form-select-sm page-size-select" [(ngModel)]="pageSize" (change)="pageSizeChange()">
                        <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
                    </select>
                </li>
            </ul>
        </nav>
    </div>
</div>
