.nav {
    background-color: var(--primary);
}

.nav-img {
    height: 3rem;
}

.profile-container {
    max-width: 50px;
}

.dot-status {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.label {
    margin: 0;
}

