.nav {
    background-color: var(--primary);
}

.nav-img {
    height: 3rem;
}

.profile {
    width: 40px;
    height: 40px;
    margin: auto auto;
    outline: 3px solid var(--primary);
}

.profile:hover {
    outline: 3px solid var(--primary-active-color);
}
