<div class="p-3">
    <app-chat-subnav active="broadcast"></app-chat-subnav>
    <div class="bg-white rounded shadow p-4">
        <h5 class="mb-3">{{ 'chat.create-broadcast' | translate }}</h5>
        <div class="row g-2 mb-4">
            <div class="col-md-3">
                <input class="form-control" [placeholder]="'form.name' | translate" [(ngModel)]="form.broadcastName" />
            </div>
            <div class="col-md-3">
                <input class="form-control" type="datetime-local" [(ngModel)]="form.scheduledAt" />
            </div>
            <div class="col-md-3">
                <input class="form-control" [placeholder]="'chat.broadcast-channels' | translate" [(ngModel)]="form.channelKeys" />
            </div>
            <div class="col-md-3">
                <input class="form-control" [placeholder]="'chat.tag-filter' | translate" [(ngModel)]="form.tagFilter" list="broadcastTags" />
                <datalist id="broadcastTags">
                    <option *ngFor="let t of tags" [value]="t.tagName"></option>
                </datalist>
            </div>
            <div class="col-md-2">
                <select class="form-select" [(ngModel)]="form.messageType">
                    <option value="text">{{ 'chat.message-type.text' | translate }}</option>
                    <option value="image">{{ 'chat.message-type.image' | translate }}</option>
                    <option value="flex">{{ 'chat.message-type.flex' | translate }}</option>
                </select>
            </div>
            <div class="col-md-8">
                <textarea class="form-control" rows="2" [placeholder]="'chat.message-text' | translate" [(ngModel)]="form.messageText"></textarea>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary w-100 h-100" (click)="create()">{{ 'chat.schedule' | translate }}</button>
            </div>
            <div class="col-md-6" *ngIf="form.messageType === 'image'">
                <input class="form-control" [placeholder]="'chat.image-url' | translate" [(ngModel)]="form.imageUrl" />
            </div>
            <div class="col-md-12" *ngIf="form.messageType === 'flex'">
                <textarea class="form-control" rows="3" [placeholder]="'chat.flex-json' | translate" [(ngModel)]="form.flexJson"></textarea>
            </div>
        </div>

        <h6>{{ 'chat.scheduled-history' | translate }}</h6>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>{{ 'form.name' | translate }}</th>
                    <th>{{ 'chat.scheduled' | translate }}</th>
                    <th>{{ 'common.status' | translate }}</th>
                    <th>{{ 'chat.channels' | translate }}</th>
                    <th>{{ 'chat.messages' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of broadcasts">
                    <td>{{ b.broadcastName }}</td>
                    <td>{{ b.scheduledAt | date : 'dd/MM/yyyy HH:mm' }}</td>
                    <td>
                        <span
                            class="badge"
                            [class.text-bg-success]="b.isSent === 1"
                            [class.text-bg-warning]="b.isSent === 0"
                            [class.text-bg-secondary]="b.isSent === 2"
                            >{{ statusLabel(b.isSent) }}</span
                        >
                    </td>
                    <td>
                        <ng-container *ngIf="b.broadcastChannels?.length; else noCh">
                            <span *ngFor="let c of b.broadcastChannels; let last = last">
                                {{ c.channelKey || c }}<span *ngIf="!last">, </span>
                            </span>
                        </ng-container>
                        <ng-template #noCh>-</ng-template>
                    </td>
                    <td>{{ b.messages?.length || 0 }}</td>
                    <td class="text-nowrap">
                        <button *ngIf="b.isSent === 0" type="button" class="btn btn-sm btn-link" (click)="cancel(b.id)">{{ 'common.cancel' | translate }}</button>
                        <button type="button" class="btn btn-sm btn-link text-danger" (click)="remove(b.id)">{{ 'common.delete' | translate }}</button>
                    </td>
                </tr>
                <tr *ngIf="!broadcasts.length">
                    <td colspan="6" class="text-muted">{{ 'chat.no-broadcasts' | translate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
