<div class="h-100">
    <div class="bg-white rounded shadow w-100 h-100 p-5 overflow-hidden">
        <div class="container p-0">
            <h1 class="fs-4 mb-3">{{ title }}</h1>
            <div class="row">
                <div class="col-md-4 col-xl-4" #menu>
                    <div class="sidebar card">
                        <ul class="p-0 m-0">
                            <li
                                *ngFor="let item of menuSetting"
                                class="sidebar-list cursor-pointer list-unstyled p-4 m-0"
                                [routerLink]="[item.routerLink]"
                                [routerLinkActive]="'li-active'"
                            >
                                <a class="text-menu text-decoration-none">
                                    <fa-icon *ngIf="item?.icon" [icon]="item.icon" class="pe-2"></fa-icon>
                                    {{ 'menu.setting.' + item.label | translate }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-xl-8 overflow-scroll" #content>
                    <div class="content card">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
