<div class="h-full">
    <div class="bg-white border-round-lg shadow-2 w-full pb-4 h-full">
        <div class="p-4 d-flex flex-column justify-content-between flex-md-row flex-lg-row gap-4 align-items-center w-100">
            <p class="m-0 d-flex fs-5">ประวัติการโทร</p>
            <div class="d-flex flex-nowrap flex-grow-1">
                <div class="input-group">
                    <span class="input-group-text bg-white border border-end-0 color-primary" id="basic-addon1">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input
                        id="table-complete-search"
                        type="text"
                        class="form-control border border-start-0 shadow-none"
                        name="search"
                        [(ngModel)]="valueSearch"
                        placeholder="ค้นหา..."
                        aria-describedby="basic-addon1"
                        style="width: 70%"
                        (input)="search()"
                    />
                    <select class="form-select shadow-none" aria-label="Default select example" [(ngModel)]="selectedFilter">
                        <option *ngFor="let op of filterOption" [value]="op.code">
                            {{ op.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="d-none d-md-flex d-lg-none p-2 btn-primary-color rounded text-white" (click)="createCall()">
                <i class="fa-solid fa-plus"></i>
            </div>

            <select
                class="form-select shadow-none w-15"
                aria-label="Default select example"
                [(ngModel)]="dateFilterType"
                (ngModelChange)="onDateFilterChange($event)"
            >
                <option *ngFor="let ftd of filterDate" [value]="ftd.type">
                    {{ ftd.name }}
                </option>
            </select>
            <div>
              <div
                  class="col-auto"
                  *ngIf="dateFilterType === 'custom'"
                  [formGroup]="dateRangeForm"
                  style="display: flex;
                  flex-wrap: nowrap;
                  flex-direction: row;
                  align-items: stretch;
                  justify-content: space-between;"
              >
                  <div class="input-group start-date" style="width: 48%;">
                      <input
                          matInput
                          [matDatepicker]="pickerStartDate"
                          formControlName="startDate"
                          required
                          class="input-date form-control"
                          style="height: 36px"
                          placeholder="เริ่มตั้งแต่วันที่"
                      />
                      <span class="input-group-text" style="height: 36px">
                          <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerStartDate></mat-datepicker>
                      </span>
                  </div>
                  <div class="input-group" style="width: 48%;">
                      <input
                          matInput
                          [matDatepicker]="pickerEndDate"
                          formControlName="endDate"
                          required
                          class="input-date form-control"
                          style="height: 36px"
                          placeholder="จนถึงวันที่"
                      />
                      <span class="input-group-text" style="height: 36px">
                          <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerEndDate></mat-datepicker>
                      </span>
                  </div>
              </div>
          </div>

            <button
                class="d-flex align-items-center gap-2 d-md-none d-lg-flex btn-primary-color rounded p-2 text-white"
                (click)="createCall()"
            >
                <i class="fa-solid fa-plus"></i>
                สร้างการโทร
            </button>
        </div>

        <div *ngIf="selectValue && selectValue.length != 0">
            <div class="d-flex p-3 bg-body-tertiary">
                <button
                    class="d-flex align-items-center me-2 d-md-none d-lg-flex rounded p-2 text-white btn btn-warning"
                    (click)="exportExcel()"
                    placement="top"
                    ngbTooltip="Export to Excel"
                >
                    <i class="fa-solid fa-file"></i>
                </button>
                <!-- <button
                    class="d-flex align-items-center d-md-none d-lg-flex rounded p-2 text-white btn btn-danger"
                    (click)="deleteSelectForm()"
                    placement="top"
                    ngbTooltip="ลบ"
                >
                    <i class="fa-solid fa-trash"></i>
                </button> -->
            </div>
        </div>
        <div>
            <div class="d-flex align-items-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 1%" scope="row">
                                <input
                                    type="checkbox"
                                    name="all"
                                    [checked]="isAllChecked() && selectValue.length > 0"
                                    (change)="checkAll($event)"
                                />
                            </th>
                            <th scope="col" style="width: 12%">เวลา</th>
                            <th scope="col" style="width: 8%">เบอร์โทร</th>
                            <th scope="col" style="width: 14%">ผู้ติดต่อ</th>
                            <th scope="col" style="width: 8%">ประเภทสาย</th>
                            <th scope="col" style="width: 16%">เรื่องที่ติดต่อ</th>
                            <th scope="col" style="width: 16%">รายละเอียด</th>
                            <th scope="col" style="width: 16%">แนวทางการแก้ไข</th>
                            <th scope="col" style="width: 20%">ผู้ที่รับผิดชอบ</th>
                            <th scope="col">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="(calls | searchFilter : valueSearch : selectedFilter)?.length > 0; else noDataTemplate">
                            <tr *ngFor="let calls of calls | searchFilter : valueSearch : selectedFilter; let i = index">
                                <td scope="row">
                                    <input
                                        type="checkbox"
                                        [(ngModel)]="calls.state"
                                        name="calls"
                                        value="calls.callId"
                                        (change)="selectCheckbox(calls.callId)"
                                    />
                                </td>
                                <td>
                                    {{ calls.createdAt | date : 'dd/MM/yyyy HH:mm' }}
                                </td>
                                <td class="sidebar cursor-pointer" (click)="createCallFideId(calls)">
                                    <div class="" ngbTooltip="คลิกดูรายละเอียด" placement="bottom">
                                        {{ calls.caller }}
                                    </div>
                                </td>
                                <!-- <td
                                    (click)="showSideBar(i, calls.callId)"
                                    class="sidebar cursor-pointer"
                                    data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight"
                                    aria-controls="offcanvasRight"
                                >
                                    <div class="" ngbTooltip="คลิกดูรายละเอียด" placement="bottom">
                                        {{ calls.caller }}
                                    </div>
                                </td> -->
                                <td>{{ calls.contact }}</td>
                                <td>{{ calls.type }}</td>
                                <td class="w-max-ellipsis">
                                    <div [ngbTooltip]="calls.casesub" placement="bottom" class="text-ellipsis">
                                        {{ calls.casesub }}
                                    </div>
                                </td>
                                <td class="w-max-ellipsis">
                                    <div [ngbTooltip]="calls.description" placement="bottom" class="text-ellipsis">
                                        {{ calls.description }}
                                    </div>
                                </td>
                                <td class="w-max-ellipsis">
                                    <div [ngbTooltip]="calls.solution" placement="bottom" class="text-ellipsis">
                                        {{ calls.solution }}
                                    </div>
                                </td>
                                <td>{{ calls.agent }}</td>
                                <td class="text-center" scope="row">
                                    <div class="d-flex flex-row flex-nowrap">
                                        <div
                                            class="me-3 color-primary cursor-pointer"
                                            placement="top"
                                            ngbTooltip="แก้ไข"
                                            (click)="createCallFideId(calls)"
                                        >
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </div>
                                        <!-- <div class="color-red cursor-pointer" placement="top" ngbTooltip="ลบ" (click)="deleteCall(calls.call_id)">
                                            <i class="fa-solid fa-trash"></i>
                                        </div> -->
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noDataTemplate>
                            <tr>
                                <td colspan="9" class="text-center"><span class="color-gray">ไม่มีข้อมูล</span></td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
            <ul class="pagination sidebar justify-content-center">
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link custom-link preBtn" (click)="pageChange(1)" aria-label="Previous">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link custom-link" (click)="pageChange(currentPage - 1)" aria-label="Previous">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
                <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage == page">
                    <a class="page-link custom-link" (click)="pageChange(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link custom-link" (click)="pageChange(currentPage + 1)" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link custom-link nextBtn" (click)="pageChange(totalPages)" aria-label="Next">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
                <li class="page-item ms-3">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="pageSize" (change)="pageSizeChange()">
                        <option class="dropdown-item" *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
                    </select>
                </li>
            </ul>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-body">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="d-flex">
                            <div class="p-2 flex-grow-1" type="button" placement="bottom" ngbTooltip="ปิด">
                                <fa-icon class="" [icon]="faCircleXmark" size="lg" data-bs-dismiss="offcanvas"></fa-icon>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div *ngIf="visibleLeftSideBar" class="p-2" type="button" (click)="changeSideBar('left')">
                                <fa-icon [icon]="faArrowLeft" size="lg" placement="bottom" ngbTooltip="ย้อนกลับ"></fa-icon>
                            </div>
                            <div
                                *ngIf="visibleRightSideBar"
                                class="p-2"
                                type="button"
                                (click)="changeSideBar('right')"
                                placement="bottom"
                                ngbTooltip="ถัดไป"
                            >
                                <fa-icon [icon]="faArrowRight" size="lg"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="p-5 shadow call-side-detail">
                        <div class="d-flex justify-content-end">
                            <div class="d-flex flex-wrap">
                                <div class="flex-grow-1" type="button" placement="bottom" ngbTooltip="แก้ไข">
                                    <fa-icon class="color-primary cursor-pointer" [icon]="faPenToSquare" size="lg"></fa-icon>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h4>เบอร์โทร</h4>
                            <h5 class="font-b">{{ detailItem?.caller || emptyItem }}</h5>
                        </div>
                        <div class="row row-side">
                            <div class="col">
                                <h5>เวลา</h5>
                                <div class="font-b">{{ detailItem?.createdAt | date : 'dd/MM/yyyy HH:mm' || emptyItem }}</div>
                            </div>
                            <div class="col">
                                <h5>ประเภทสาย</h5>
                                <div class="font-b">{{ detailItem?.type || emptyItem }}</div>
                            </div>
                        </div>
                        <div class="grid pt-2">
                            <div class="col row-side">
                                <h5>ผู้ที่รับผิดชอบ</h5>
                                <div class="font-b">{{ detailItem?.agent || emptyItem }}</div>
                            </div>
                            <div class="col row-side">
                                <h5>เรื่องที่ติดต่อ</h5>
                                <div *ngIf="detailItem && detailItem.casesub" class="font-b">
                                    <div *ngFor="let topic of detailItem.casesub.split(',')" class="font-b">{{ topic }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="grid pt-2 row-side">
                            <div class="col row-side">
                                <h5>แนวทางการแก้ไข</h5>
                                <div class="font-b">{{ detailItem?.solution || emptyItem }}</div>
                            </div>
                            <div class="col row-side">
                                <h5>รายละเอียด</h5>
                                <div class="font-b">{{ detailItem?.description || emptyItem }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="p-5 shadow call-side-change-by">
                        <div class="row row-side">
                            <div class="col">
                                <h5>สร้างโดยผู้ใช้</h5>
                                <div class="font-b">{{ detailItem?.agent || emptyItem }}</div>
                            </div>
                            <div class="col">
                                <h5>แก้ไขล่าสุดโดยผู้ใช้</h5>
                                <div class="font-b">{{ detailItem?.modifiedByUsername || emptyItem }}</div>
                            </div>
                        </div>
                        <div class="row row-side">
                            <div class="col">
                                <h5>เวลาที่แก้ไขล่าสุด</h5>
                                <div class="font-b">{{ detailItem?.modifiedAt | date : 'dd/MM/yyyy HH:mm' || emptyItem }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
