<div class="h-100">
    <div class="bg-white rounded shadow w-100 h-100 overflow-auto">
        <div class="p-3 p-md-4">
            <!-- Desktop: 1 row | Mobile: wrap -->
            <div class="d-flex flex-wrap flex-xl-nowrap align-items-center gap-2 gap-xl-3">
                <!-- Title -->
                <h5 class="m-0 fw-semibold text-nowrap">ประวัติการติดต่อ</h5>

                <!-- Search Input -->
                <div class="input-group flex-grow-1" style="min-width: 180px">
                    <input
                        id="table-complete-search"
                        type="text"
                        class="form-control shadow-none"
                        name="search"
                        [(ngModel)]="valueSearch"
                        placeholder="ค้นหา..."
                        (keyup.enter)="search()"
                    />
                    <button class="btn btn-primary-color text-white" (click)="search()">ค้นหา</button>
                </div>

                <!-- User Filter -->
                <select
                    class="form-select shadow-none flex-shrink-1"
                    style="width: auto; min-width: 100px"
                    [(ngModel)]="selectedFilter"
                    (ngModelChange)="onUserFilterChange($event)"
                >
                    <option *ngFor="let op of filterOption" [value]="op.code">{{ op.name }}</option>
                </select>

                <!-- Date Filter Type -->
                <select
                    class="form-select shadow-none flex-shrink-1"
                    style="width: auto; min-width: 100px"
                    [(ngModel)]="dateFilterType"
                    (ngModelChange)="onDateFilterChange($event)"
                >
                    <option *ngFor="let ftd of filterDate" [value]="ftd.type">{{ ftd.name }}</option>
                </select>

                <!-- Custom Date Range -->
                <ng-container *ngIf="dateFilterType === 'custom'" [formGroup]="dateRangeForm">
                    <div class="input-group flex-shrink-1" style="min-width: 140px; max-width: 180px">
                        <input
                            matInput
                            [matDatepicker]="pickerStartDate"
                            formControlName="startDate"
                            required
                            class="form-control"
                            placeholder="เริ่มตั้งแต่"
                        />
                        <span class="input-group-text p-1">
                            <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStartDate></mat-datepicker>
                        </span>
                    </div>
                    <div class="input-group flex-shrink-1" style="min-width: 140px; max-width: 180px">
                        <input
                            matInput
                            [matDatepicker]="pickerEndDate"
                            formControlName="endDate"
                            required
                            class="form-control"
                            placeholder="จนถึง"
                        />
                        <span class="input-group-text p-1">
                            <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerEndDate></mat-datepicker>
                        </span>
                    </div>
                </ng-container>

                <!-- Create Button -->
                <button
                    class="btn btn-primary-color text-white d-flex align-items-center gap-2 text-nowrap ms-auto"
                    (click)="createCall()"
                    ngbTooltip="สร้างการติดต่อ"
                >
                    <i class="fa-solid fa-plus"></i>
                    <span class="d-none d-sm-inline" *ngIf="dateFilterType !== 'custom'">สร้างการติดต่อ</span>
                </button>
            </div>
        </div>

        <div *ngIf="selectValue && selectValue.length != 0">
            <div class="d-flex p-3 bg-body-tertiary">
                <button
                    class="d-flex align-items-center me-2 d-md-none d-lg-flex rounded p-2 text-white btn btn-warning"
                    (click)="exportExcel()"
                    placement="top"
                    ngbTooltip="Export to Excel"
                >
                    <i class="fa-solid fa-file"></i>
                </button>
            </div>
        </div>
        <div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <input
                                    type="checkbox"
                                    name="all"
                                    [checked]="isAllChecked() && selectValue.length > 0"
                                    (change)="checkAll($event)"
                                />
                            </th>
                            <th scope="col">เวลา</th>
                            <th scope="col">เบอร์โทร</th>
                            <th scope="col">ผู้ติดต่อ</th>
                            <th scope="col">ประเภท</th>
                            <th scope="col">ประเภทสาย</th>
                            <th scope="col">เรื่องที่ติดต่อ</th>
                            <th scope="col">รายละเอียด</th>
                            <th scope="col">สถานะ</th>
                            <th scope="col">ผู้ที่รับผิดชอบ</th>
                            <th scope="col" *ngIf="checkSupRole()">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="(calls | searchFilter : valueSearch : selectedFilter)?.length > 0; else noDataTemplate">
                            <tr *ngFor="let calls of calls | searchFilter : valueSearch : selectedFilter; let i = index">
                                <td class="text-center">
                                    <input
                                        type="checkbox"
                                        [(ngModel)]="calls.state"
                                        name="calls"
                                        value="calls.caseId"
                                        (change)="selectCheckbox(calls.caseId)"
                                    />
                                </td>
                                <td scope="row">{{ calls.createdAt | date : 'dd/MM/yyyy HH:mm' }}</td>
                                <td
                                    (click)="createCallFideId(calls, calls.contactId, calls.caller)"
                                    class="cursor-pointer w-max-ellipsis"
                                    data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight"
                                    aria-controls="offcanvasRight"
                                    scope="row"
                                >
                                    <div
                                        ngbTooltip="คลิกเพื่อดูรายละเอียด"
                                        placement="bottom"
                                        class="text-ellipsis"
                                        style="color: #3066be; text-decoration: underline"
                                    >
                                        {{ calls.caller }}
                                    </div>
                                </td>
                                <td scope="row">{{ calls.contact }}</td>
                                <td scope="row">{{ calls.channel }}</td>
                                <td scope="row">{{ calls.type }}</td>
                                <td scope="row">{{ calls.topic }}</td>
                                <td scope="row">{{ calls.description }}</td>
                                <td scope="row">
                                    <span
                                        *ngIf="calls.status; else noStatus"
                                        class="status-badge"
                                        [style.background-color]="statusService.getStatusBgColor(calls.status)"
                                    >
                                        {{ calls.status }}
                                    </span>
                                    <ng-template #noStatus>-</ng-template>
                                </td>
                                <td scope="row">{{ calls.agent }}</td>
                                <td class="text-center" scope="row" *ngIf="checkSupRole()">
                                    <div class="d-flex flex-row flex-nowrap">
                                        <div
                                            class="me-3 color-blue-dark"
                                            placement="top"
                                            style="cursor: pointer"
                                            data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasRight"
                                            aria-controls="offcanvasRight"
                                            ngbTooltip="แก้ไข"
                                            (click)="editCall(calls.caseId, calls.contactId)"
                                        >
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noDataTemplate>
                            <tr>
                                <td colspan="11" class="text-center">ไม่มีข้อมูล</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
            <ul class="pagination sidebar justify-content-center">
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link custom-link preBtn" (click)="pageChange(1)" aria-label="Previous">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link custom-link" (click)="pageChange(currentPage - 1)" aria-label="Previous">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
                <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage == page">
                    <a class="page-link custom-link" (click)="pageChange(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link custom-link" (click)="pageChange(currentPage + 1)" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link custom-link nextBtn" (click)="pageChange(totalPages)" aria-label="Next">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
                <li class="page-item ms-3">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="pageSize" (change)="pageSizeChange()">
                        <option class="dropdown-item" *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
                    </select>
                </li>
            </ul>

            <div class="offcanvas offcanvas-end w-75" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-body">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="d-flex">
                            <div class="p-2 flex-grow-1" type="button" placement="bottom" ngbTooltip="ปิด">
                                <fa-icon class="" [icon]="faCircleXmark" size="lg" data-bs-dismiss="offcanvas"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-column offcanvas-content-wrapper" *ngIf="AddCallShowing">
                        <div class="row g-0 align-items-stretch h-100">
                            <div
                                class="edit-contact-column"
                                [ngClass]="{
                                    'col-12 col-lg-6': !attachmentShowing && (selectedCaseTopicObject?.script || chatHistory.length),
                                    'col-12': attachmentShowing || (!selectedCaseTopicObject?.script && !chatHistory.length)
                                }"
                            >
                                <div
                                    class="d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center mb-3 gap-2 edit-contact-header"
                                >
                                    <h4 class="mb-0" *ngIf="attachmentShowing == true">เพิ่มข้อมูลการติดต่อ</h4>
                                    <h4 class="mb-0" *ngIf="attachmentShowing == false">แก้ไขข้อมูลการติดต่อ</h4>
                                    <button class="btn btn-primary" type="button" (click)="submitCall()">บันทึก</button>
                                </div>
                                <div class="edit-contact-form-scroll">
                                <form class="row g-3 mg-3">
                                    <div class="col-12">
                                        <div class="row g-3">
                                            <div class="col-12 col-sm-6">
                                                <label for="inputTopic" class="form-label"
                                                    >หัวข้อที่ติดต่อ<span class="color-red">*</span></label
                                                >
                                                <select
                                                    id="inputTopic"
                                                    class="form-select"
                                                    [name]="'selectedCaseTopics'"
                                                    [(ngModel)]="selectedCaseTopics"
                                                    (change)="onCaseTopicChange($event)"
                                                    [disabled]="isTopicDisabled"
                                                >
                                                    <option disabled value="">กรุณาเลือกข้อมูล</option>
                                                    <option *ngFor="let casetopic of casetopics" [value]="casetopic.caseTopicId">
                                                        {{ casetopic.name }}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-12 col-sm-6">
                                                <label for="inputCaseSubject" class="form-label">เรื่องที่ติดต่อ</label>
                                                <select
                                                    id="inputCaseSubject"
                                                    class="form-select"
                                                    name="selectedCasesubject"
                                                    [(ngModel)]="selectedCasesubject"
                                                    [disabled]="isSubjectDisabled"
                                                >
                                                    <option disabled value="">กรุณาเลือกข้อมูล</option>
                                                    <ng-container *ngFor="let casesubject of casesubjects">
                                                        <option
                                                            *ngIf="selectedCaseTopics && selectedCaseTopics == casesubject.caseTopicId"
                                                            [value]="casesubject.caseSubjectId"
                                                        >
                                                            {{ casesubject.name }}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6">
                                        <label for="inputStatus" class="form-label">สถานะ</label>
                                        <select
                                            id="inputStatus"
                                            class="form-select"
                                            name="selectedStatus"
                                            [(ngModel)]="selectedStatus"
                                            [disabled]="isStatusDisabled"
                                        >
                                            <option disabled value="">กรุณาเลือกข้อมูล</option>
                                            <option *ngFor="let status of statusList" [value]="status.id">{{ status.status }}</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label for="inputChannel" class="form-label">ช่องทางติดต่อ</label>
                                        <select
                                            id="inputChannel"
                                            class="form-select"
                                            name="selectedChannels"
                                            [(ngModel)]="selectedChannels"
                                            (ngModelChange)="onChannelChange($event)"
                                            [disabled]="isChannelDisabled"
                                        >
                                            <option disabled value="">กรุณาเลือกข้อมูล</option>
                                            <option *ngFor="let channel of channels" [value]="channel.channelId">{{ channel.name }}</option>
                                        </select>
                                        <div
                                            class="w-100 mt-3"
                                            *ngIf="selectedChannels === '1' || selectedChannels === '2' || selectedChannels === '3'"
                                        >
                                            <label
                                                *ngIf="selectedChannels === '1' || selectedChannels === '2'"
                                                for="inputCallType"
                                                class="form-label"
                                                >ประเภทสาย</label
                                            >
                                            <label *ngIf="selectedChannels === '3'" for="inputCallType" class="form-label"
                                                >ประเภทอีเมล</label
                                            >
                                            <select
                                                id="inputCallType"
                                                class="form-select"
                                                name="selectedCallTypeId"
                                                [(ngModel)]="selectedCallTypeId"
                                                [disabled]="isCallTypeDisabled"
                                            >
                                                <option disabled value="">กรุณาเลือกข้อมูล</option>
                                                <option *ngFor="let callType of callTypes" [value]="callType.name">
                                                    {{ callType.name }}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="w-100 mt-3" *ngIf="selectedChannels === '1' || selectedChannels === '2'">
                                            <label for="inputContactNumber" class="form-label"
                                                >เบอร์ติดต่อ<span class="color-red">*</span></label
                                            >
                                            <select
                                                id="inputContactNumber"
                                                class="form-select"
                                                name="selectedContactNumber"
                                                [(ngModel)]="selectedContactNumber"
                                                [disabled]="isContactNumberDisabled"
                                            >
                                                <option disabled value="">กรุณาเลือกเบอร์ติดต่อ</option>
                                                <option
                                                    *ngFor="let contactNumbers of contactNumber"
                                                    [ngValue]="{
                                                        contactNumber: contactNumbers.contactNumber,
                                                        contactNumberId: contactNumbers.contactNumberId
                                                    }"
                                                >
                                                    {{ contactNumbers.contactNumber }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="inputAddress" class="form-label">กรุณาเลือกวันที่และเวลา</label>
                                        <div class="datetime-inline-wrapper">
                                            <div class="date-input-section">
                                                <div class="input-group">
                                                    <input
                                                        matInput
                                                        [matDatepicker]="picker1"
                                                        name="startTime"
                                                        [(ngModel)]="startTime"
                                                        required
                                                        class="form-control"
                                                        placeholder="เลือกวันที่"
                                                        [disabled]="isDateDisabled"
                                                    />
                                                    <span class="input-group-text">
                                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker1></mat-datepicker>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="time-input-section">
                                                <ngb-timepicker
                                                    name="timepickStart"
                                                    [(ngModel)]="timepickStart"
                                                    [seconds]="seconds"
                                                    [ngModelOptions]="{ standalone: true }"
                                                    (dateInput)="(formatTimepickStart)"
                                                    class="time-picker-inline"
                                                    (ngModelChange)="onTimepickStartChange($event)"
                                                    [disabled]="isDateDisabled"
                                                ></ngb-timepicker>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12" *ngIf="selectedChannels === '1' || selectedChannels === '2'">
                                        <label class="form-label">สถานะการโทร</label>
                                        <div class="row">
                                            <div class="col-4" *ngFor="let status of callStatus">
                                                <div class="form-check">
                                                    <input
                                                        class="form-check-input"
                                                        type="radio"
                                                        [id]="'callStatus_' + status.id"
                                                        name="selectedCallStatus"
                                                        [value]="status.id"
                                                        [(ngModel)]="selectedCallStatusId"
                                                    />
                                                    <label class="form-check-label" [for]="'callStatus_' + status.id">
                                                        {{ status.callStatus }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label class="form-check-label" for="gridCheck"> รายละเอียด </label>
                                        <textarea
                                            class="form-control"
                                            placeholder="กรุณากรอกข้อมูล"
                                            id="floatingTextarea"
                                            name="description"
                                            [(ngModel)]="description"
                                            [disabled]="isDescriptionDisabled"
                                        ></textarea>
                                    </div>
                                    <div class="col-12" *ngIf="attachmentShowing == false">
                                        <label class="form-check-label" for="gridCheck"> ความคิดเห็น </label>
                                        <textarea
                                            class="form-control"
                                            placeholder="กรุณากรอกข้อมูล"
                                            id="floatingTextareaComment"
                                            name="comment"
                                            [(ngModel)]="comment"
                                        ></textarea>
                                    </div>
                                    <div class="col-12" *ngIf="comments && comments.length > 0">
                                        <label class="form-label">ประวัติความคิดเห็น</label>
                                        <div class="border rounded p-2 bg-light comment-history-container">
                                            <div class="card mb-2" *ngFor="let comment of comments">
                                                <div class="card-body py-2 px-3">
                                                    <p class="card-text mb-1">{{ comment.comment }}</p>
                                                    <small class="text-muted">
                                                        โดย {{ comment.username }} | {{ comment.createdAt | date : 'dd/MM/yyyy HH:mm' }}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12" *ngIf="history && history.length > 0">
                                        <label class="form-label">ประวัติการเปลี่ยนสถานะ</label>
                                        <div class="border rounded p-2 bg-light comment-history-container">
                                            <div class="card mb-2" *ngFor="let item of history">
                                                <div class="card-body py-2 px-3">
                                                    <p class="mb-1 small">{{ item.status }}</p>
                                                    <small class="text-muted">
                                                        โดย {{ item.username || item.createdById }} |
                                                        {{ item.createdAt | date : 'dd/MM/yyyy HH:mm' }}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-12" *ngIf="selectedCaseTopicObject && selectedCaseTopicObject.script">
                                        <label class="form-label">Script</label>
                                        <div class="border rounded p-2 bg-light" [innerHTML]="selectedCaseTopicObject.script"></div>
                                    </div> -->
                                    <div class="col-12 col-sm-6" *ngIf="attachmentShowing">
                                        <label for="formFileSm" class="form-label">ไฟล์แนบ</label>
                                        <div class="mb-3">
                                            <div class="form-input-file">
                                                <input
                                                    class="form-control form-control-sm"
                                                    id="formFileSm"
                                                    type="file"
                                                    multiple
                                                    (change)="onFileSelected($event)"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>

                            <!-- Script Only -->
                            <div
                                class="col-12 col-lg-6 mt-3 mt-lg-0 script-chat-column"
                                *ngIf="!attachmentShowing && selectedCaseTopicObject?.script && !chatHistory.length"
                            >
                                <div class="card h-100 d-flex flex-column">
                                    <div
                                        class="card-header text-sm text-white"
                                        [ngStyle]="{ 'background-color': 'var(--color-blue-dark)' }"
                                    >
                                        <p class="mb-0"><i class="fa-solid fa-file-lines me-2"></i>สคริปต์</p>
                                    </div>
                                    <div class="card-body script-container flex-grow-1">
                                        <div [innerHTML]="selectedCaseTopicObject.script"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Chat History Only -->
                            <div
                                class="col-12 col-lg-6 mt-3 mt-lg-0 script-chat-column"
                                *ngIf="!attachmentShowing && !selectedCaseTopicObject?.script && chatHistory.length"
                            >
                                <div class="card h-100 d-flex flex-column">
                                    <div
                                        class="card-header text-sm text-white"
                                        [ngStyle]="{ 'background-color': 'var(--color-blue-dark)' }"
                                    >
                                        <p class="mb-0"><i class="fa-solid fa-file-lines me-2"></i>ประวัติการสนทนา</p>
                                    </div>
                                    <div class="card-body chat-history-container flex-grow-1">
                                        <div class="chat-messages">
                                            <ng-container *ngFor="let chat of chatHistory">
                                                <!-- System Message -->
                                                <div *ngIf="chat.message_type === 'system-text'" class="system-message">
                                                    <hr class="system-line" />
                                                    <span class="system-text">{{ chat.message_text }}</span>
                                                    <span class="system-time">{{ chat.timestamp | date : 'HH:mm' }}</span>
                                                </div>
                                                <!-- Normal Message -->
                                                <div
                                                    *ngIf="chat.message_type !== 'system-text'"
                                                    class="message-row"
                                                    [ngClass]="{
                                                        me: chat.direction === 'out',
                                                        contact: chat.direction === 'in'
                                                    }"
                                                >
                                                    <div class="bubble">
                                                        <div class="message">{{ chat.message_text }}</div>
                                                    </div>
                                                    <div class="message-info" [ngClass]="{ 'text-end': chat.direction === 'out' }">
                                                        <span class="sender-name">{{ chat.sender_name }}</span>
                                                        <span class="timestamp">{{ chat.timestamp | date : 'dd/MM/yyyy HH:mm' }}</span>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Both Script and Chat History -->
                            <div
                                class="col-12 col-lg-6 mt-3 mt-lg-0 script-chat-column"
                                *ngIf="!attachmentShowing && selectedCaseTopicObject?.script && chatHistory.length"
                            >
                                <div class="card h-100 d-flex flex-column">
                                    <div
                                        class="card-header text-sm text-white"
                                        [ngStyle]="{ 'background-color': 'var(--color-blue-dark)' }"
                                    >
                                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button
                                                    class="nav-link"
                                                    [ngClass]="activeScriptTab === 'script' ? 'text-blue-dark bg-white' : 'text-white'"
                                                    (click)="activeScriptTab = 'script'"
                                                    type="button"
                                                    role="tab"
                                                >
                                                    <i class="fa-solid fa-file-lines me-2"></i>สคริปต์
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button
                                                    class="nav-link"
                                                    [ngClass]="activeScriptTab === 'chat' ? 'text-blue-dark bg-white' : 'text-white'"
                                                    (click)="activeScriptTab = 'chat'"
                                                    type="button"
                                                    role="tab"
                                                >
                                                    <i class="fa-solid fa-comments me-2"></i>ประวัติการสนทนา
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body flex-grow-1">
                                        <div class="tab-content h-100">
                                            <div
                                                class="tab-pane h-100 script-container"
                                                [ngClass]="{ 'active show': activeScriptTab === 'script' }"
                                                id="script-content"
                                                role="tabpanel"
                                            >
                                                <div [innerHTML]="selectedCaseTopicObject.script"></div>
                                            </div>
                                            <div
                                                class="tab-pane h-100 chat-history-container"
                                                [ngClass]="{ 'active show': activeScriptTab === 'chat' }"
                                                id="chat-content"
                                                role="tabpanel"
                                            >
                                                <div class="chat-messages">
                                                    <ng-container *ngFor="let chat of chatHistory">
                                                        <!-- System Message -->
                                                        <div *ngIf="chat.message_type === 'system-text'" class="system-message">
                                                            <hr class="system-line" />
                                                            <span class="system-text">{{ chat.message_text }}</span>
                                                            <span class="system-time">{{ chat.timestamp | date : 'HH:mm' }}</span>
                                                        </div>
                                                        <!-- Normal Message -->
                                                        <div
                                                            *ngIf="chat.message_type !== 'system-text'"
                                                            class="message-row"
                                                            [ngClass]="{
                                                                me: chat.direction === 'out',
                                                                contact: chat.direction === 'in'
                                                            }"
                                                        >
                                                            <div class="bubble">
                                                                <div class="message">{{ chat.message_text }}</div>
                                                            </div>
                                                            <div class="message-info" [ngClass]="{ 'text-end': chat.direction === 'out' }">
                                                                <span class="sender-name">{{ chat.sender_name }}</span>
                                                                <span class="timestamp">{{
                                                                    chat.timestamp | date : 'dd/MM/yyyy HH:mm'
                                                                }}</span>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
