<div class="container">
    <div class="row g-3 p-3">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="fs-5 m-0">{{ 'title.' + title | translate }}</h2>
                <button type="button" class="btn btn-primary-color text-white" (click)="onClickAdd()">
                    <div class="d-flex gap-1">
                        <fa-icon [icon]="faPlusCircle"></fa-icon>
                        <p class="label">{{ 'page.case-topic.add' | translate }}</p>
                    </div>
                </button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col">
                    <input
                        type="text"
                        class="form-control"
                        [placeholder]="'page.case-topic.placeHolder' | translate"
                        #inputSearch
                        (input)="onSearch(inputSearch.value)"
                    />
                </div>
                <div class="col-auto">
                    <div class="dropdown">
                        <button
                            class="btn btn-primary dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            <fa-icon [icon]="faGear"></fa-icon>
                        </button>
                        <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                            <div class="form-check" *ngFor="let column of columnVisibilityKeys">
                                <input
                                    class="form-check-input cursor-pointer"
                                    type="checkbox"
                                    [(ngModel)]="columnVisibility[column]"
                                    id="checkbox-{{ column }}"
                                />
                                <span class="form-check-label cursor-default">{{ 'table.' + title + '.' + column | translate }}</span>
                            </div>
                            <button type="button" class="btn btn-primary-color text-white w-100 mt-1" (click)="applyColumnVisibility()">
                                {{ 'common.save' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <app-table-list
                [title]="title"
                [dataSource]="dataSource"
                [displayedColumns]="displayedColumns"
                [isAction]="isAction"
                [isShowTool]="true"
                (view)="onClickView($event)"
                (edit)="onClickEdit($event)"
                (delete)="onClickDelete($event)"
            ></app-table-list>
        </div>
    </div>
</div>
