<div class="bg-white rounded shadow w-100 h-100 d-flex flex-column p-4 overflow-auto">
    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
            <p class="fs-5 label">
                {{ title }}
            </p>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="ค้นหา" #inputSearch (input)="onSearch(inputSearch.value)" />
        </div>
        <div class="col-auto">
            <button type="button" *ngIf="isAction" class="btn btn-primary-color text-white" (click)="onClickAdd()">
                <div class="d-flex gap-1">
                    <fa-icon [icon]="faPlusCircle"></fa-icon>
                    <p class="label">เพิ่ม</p>
                </div>
            </button>
        </div>
        <div class="col-12 py-3">
            <app-table-list
                [dataSource]="dataSource"
                [displayedColumns]="displayedColumns"
                [isAction]="isAction"
                [isShowTool]="true"
                (view)="onClickView($event)"
                (edit)="onClickEdit($event)"
                (delete)="onClickDelete($event)"
            ></app-table-list>
        </div>
    </div>
</div>
