<ng-container *ngFor="let tag of tags">
    <div class="card p-3 mb-4">
        <div class="row p-2">
            <div class="col-6">
                <p class="card-title fs-5">{{ tag.tagName }}</p>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-primary-color text-white" (click)="onClickAddEvent()">
                    <fa-icon [icon]="faPlus"></fa-icon>
                    เพิ่ม
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="findCalendarByTagId(tag.tagId).length > 0; else noCards">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-xl-3 py-2" *ngFor="let card of findCalendarByTagId(tag.tagId)">
                            <app-calendar-card [event]="card"></app-calendar-card>
                        </div>
                    </div>
                </div>

                <ng-template #noCards>
                    <div class="row p-4">
                        <div class="col-md-12">
                            <p class="text-center">ไม่มี Event</p>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</ng-container>
