.input-date {
    height: 100%;
    width: 120px;
}

.input-group-text {
    padding: 0;
    max-width: 44px !important;
    max-height: 38px !important;
}

.table-container {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
}

.table-container thead {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
}

.table-container tfoot {
    position: sticky;
    bottom: 0;
    background-color: #f8f9fa;
    z-index: 1;
}

.show-more {
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.show-more:hover {
    background-color: #e0e0e0;
}
