<div class="h-100">
    <div class="bg-white rounded shadow w-100 h-100 d-flex flex-column p-4 overflow-auto">
        <div class="d-bt-back">
            <button type="button" (click)="prev()" class="btn btn-outline-danger">ย้อนกลับ</button>
            <div class="d-flex flex-row flex-nowrap" *ngIf="checkRole()">
                <button type="button" (click)="submit()" class="btn btn-primary rounded text-white">บันทึก</button>
            </div>
        </div>
        <div class="flex flex-column">
            <p class="mb-3 fs-5">ข้อมูลทั่วไป</p>
            <form class="row g-3 mg-3">
                <form class="mb-3 p-2">
                    <label for="inputFormName" class="form-label">เลขประจำตัว</label>
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="contactIden"
                            name="contactIden"
                            id="inputContactIden"
                            [disabled]="!checkRole()"
                        />
                        <button type="button" class="btn btn-primary" *ngIf="SearchButton" (click)="searchDrive()">ค้นหาจากระบบ Drive <i class="fas fa-search"></i></button>
                    </div>
                </form>
                <div class="col-md-6">
                    <label for="inputContactFirstName" class="form-label">ชื่อ</label>
                    <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="contactFirstName"
                    name="contactFirstName"
                    id="inputContactFirstName"
                    [disabled]="!checkRole()"
                />
                </div>
                <div class="col-md-6">
                    <label for="inputcontactLastName" class="form-label">นามสกุล</label>
                    <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="contactLastName"
                    name="contactLastName"
                    id="inputContactLastName"
                    [disabled]="!checkRole()"
                />
                </div>
                <div class="col-md-6">
                    <label for="inputContactOrg" class="form-label">ร้านค้า/บริษัท</label>
                    <select
                        class="form-select"
                        [(ngModel)]="contactOrg"
                        name="contactOrg"
                        id="inputContactOrg"
                        [disabled]="!checkRole()"
                    >
                    <option *ngFor="let organization of organizations" [value]="organization.organizationId">{{ organization.name }}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputContactType" class="form-label">ประเภทผู้ประกอบการ</label>
                    <select
                        class="form-select"
                        [(ngModel)]="contactType"
                        name="contactType"
                        id="inputContactType"
                        [disabled]="!checkRole()"
                    >
                        <option value="" disabled>-</option>
                        <option value="นิติบุคคล">นิติบุคคล</option>
                        <option value="บุคคลธรรมดา">บุคคลธรรมดา</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                
                <div class="col-md-6">
                    <label for="inputContactEmail" class="form-label">อีเมล์</label>
                    <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="contactEmail"
                    name="contactEmail"
                    id="inputContactEmail"
                    [disabled]="!checkRole()"
                />
                </div>
                <div class="col-md-6">
                    <label for="inputContactNum" class="form-label">เบอร์ติดต่อ</label>
                    <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="contactNum"
                    name="contactNum"
                    id="inputContactNum"
                    [disabled]="!checkRole()"
                />
                </div>
                <div class="col-md-6">
                    <label for="inputContactProvince" class="form-label">จังหวัด</label>
                    <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="contactProvince"
                    name="contactProvince"
                    id="inputContactProvince"
                    [disabled]="!checkRole()"
                />
                </div>
                <div class="col-md-6">
                    <label for="inputContactProductType" class="form-label">ประเภทสินค้า</label>
                    <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="contactProductType"
                    name="contactProductType"
                    id="inputContactProductType"
                    [disabled]="true"
                />
                </div>
                <div class="col-md-6">
                    <label for="inputContactSource" class="form-label">แหล่งที่มา</label>
                    <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="contactSource"
                    name="contactSource"
                    id="inputContactSource"
                    [disabled]="true"
                />
                </div>
            </form>
        </div>
        <div class="flex flex-column" *ngIf="TableShowing">
            <div class="d-flex align-items-center">
                <p class="mb-3 fs-5">โครงการอบรม/สัมมนา</p>
            </div>
            <div class="h-100">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 40%">ชื่อ</th>
                                <th style="width: 10%">เลขที่อ้างอิง</th>
                                <th style="width: 20%">วันที่เปิดอบรม</th>
                                <th style="width: 20%">วันที่ปิดอบรม</th>
                                <th style="width: 10%">ประเภท</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="contactActivities && contactActivities.length > 0; else noDataTemplate">
                            <tr *ngFor="let activity of contactActivities">
                                <td>{{ activity.Activity.ActivityNameTH}}</td>
                                <td>{{ activity.Activity.ActivityID }}</td>
                                <td>{{ activity.Activity.ActivityStartDate}}</td>
                                <td>{{ activity.Activity.ActivityEndDate}}</td>
                                <td>{{ activity.Activity.ActivityType.name }}</td> 
                            </tr>
                        </ng-container>
                        <ng-template #noDataTemplate>
                            <tr>
                                <td colspan="9" class="text-center">ไม่มีข้อมูล</td>
                            </tr>
                        </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="flex flex-column" *ngIf="TableShowing">
            <p class="mb-3 fs-5" style="margin-top: 5%;">ข้อมูลการติดต่อ</p>
            <div class="h-100">
                
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 20%">เวลา</th>
                                    <th style="width: 20%">เบอร์โทร</th>
                                    <th style="width: 20%">ประเภทสาย</th>
                                    <th style="width: 20%">เรื่องที่ติดต่อ</th>
                                    <th style="width: 20%">ผู้ติดต่อ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="contactCall && contactCall.length > 0; else noDataTemplate">
                                    <tr *ngFor="let call of contactCall">
                                        <td>{{ (call.createdAt | date : 'dd/MM/yyyy  HH:mm')}}</td>
                                        <td>{{ call.name }}</td>
                                        <td>{{ call.direction }}</td>
                                        <td>{{ call.caseTopicName }}</td>
                                        <td>{{ call.fullname }}</td>
                                    </tr>
                                </ng-container>
                                <ng-template #noDataTemplate>
                                    <tr>
                                        <td colspan="9" class="text-center">ไม่มีข้อมูล</td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                
            </div>
        </div>
        <div class="flex flex-column" *ngIf="TableShowing">
            <div class="d-flex align-items-center" style="margin-top: 5%;">
                <p class="mb-3 fs-5" >การติดตามและประเมินผลฯ</p>
                <button class="btn btn-primary ms-2" style="margin-top: -14px;" (click)="showSideBar()"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="h-100">
                
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 30%">แบบฟอร์มสำรวจ</th>
                                    <th style="width: 30%">ชื่อผู้ติดตามและประเมินผลฯ</th>
                                    <th style="width: 30%">วันที่เพิ่ม</th>
                                    <th style="width: 10%" *ngIf="checkRole()">จัดการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="contactSurveyForm && contactSurveyForm.length > 0; else noDataTemplate">
                                    <tr *ngFor="let surveyForm of contactSurveyForm">
                                        <td class="cursor-pointer w-max-ellipsis" (click)="showFinishedForm(surveyForm.surveyFormId, surveyForm.surveyId)" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasRight">{{ surveyForm.name }}</td>
                                        <td>{{ surveyForm.fullname }}</td>
                                        <td>{{ (surveyForm.createdAt | date : 'dd/MM/yyyy  HH:mm')}}</td>
                                        <td>
                                            <div class="d-flex flex-row flex-nowrap" *ngIf="checkRole()">
                                                <div class="color-red" placement="top" ngbTooltip="ลบ" (click)="deleteSurvey(surveyForm.surveyId)">
                                                    <i class="fa-solid fa-trash"></i>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #noDataTemplate>
                                    <tr>
                                        <td colspan="9" class="text-center">ไม่มีข้อมูล</td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-body">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="d-flex">
                        <div class="p-2 flex-grow-1" type="button" placement="bottom" ngbTooltip="ปิด">
                            <fa-icon class="" [icon]="faCircleXmark" size="lg" data-bs-dismiss="offcanvas"></fa-icon>
                        </div>
                    </div>
                </div>
                <div class="p-5 shadow call-side-detail" *ngIf="SearchFormShowing">

                    <div>
                        <h4>เพิ่มการติดตามและประเมินผลฯ</h4>
                        <input
                        id="table-complete-search"
                        type="text"
                        class="form-control border border-start-0 shadow-none"
                        name="search"
                        [(ngModel)]="valueSearch"
                        placeholder="ค้นหา..."
                        aria-describedby="basic-addon1"
                        style="width: 70%"
                        (change)="search()"
                    />
                    </div>
                </div>
                <div class="p-5 shadow call-side-change-by w-100 h-100 overflow-auto p-4" >
                    <div class="table-responsive" *ngIf="SearchFormShowing">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 70%" scope="col">
                                        <a (click)="sort('name')">แบบฟอร์มสำรวจ </a><i *ngIf="sortId == 'name'" class="{{ sortIcon }}"></i>
                                    </th>
                                    <th style="width: 15%" scope="col">
                                        <a (click)="sort('createdAt')">วันที่บันทึก</a><i *ngIf="sortId == 'createdAt'" class="{{ sortIcon }}"></i>
                                    </th>
                                    <th style="width: 15%" scope="col">
                                        <a (click)="sort('createdById')">บันทึกโดย</a><i *ngIf="sortId == 'createById'" class="{{ sortIcon }}"></i>
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="surveyForms?.length > 0; else noDataTemplate">
                                    <tr *ngFor="let form of surveyForms; let i = index">
                                        <td scope="row" class="cursor-pointer w-max-ellipsis" (click)="getSurveyForm(form.surveyFormId, contactId)">{{ form.name }}</td>
                                        <td scope="row">{{ form.createdAt | date : 'dd/MM/yyyy HH:mm' }}</td>
                                        <td scope="row">{{ form.createdBy }}</td>
                                    </tr>
                                </ng-container>
                                <ng-template #noDataTemplate>
                                    <tr>
                                        <td colspan="4" class="text-center">ไม่มีข้อมูล</td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination cursor-pointer justify-content-center" *ngIf="SearchFormShowing">
                        <li class="page-item" [class.disabled]="currentPage == 1">
                            <a class="page-link custom-link preBtn" (click)="pageChange(1)" aria-label="Previous">
                                <i class="fa-solid fa-angles-left"></i>
                            </a>
                        </li>
                        <li class="page-item" [class.disabled]="currentPage == 1">
                            <a class="page-link custom-link" (click)="pageChange(currentPage - 1)" aria-label="Previous">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>
                        <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage == page">
                            <a class="page-link custom-link" (click)="pageChange(page)">{{ page }}</a>
                        </li>
                        <li class="page-item" [class.disabled]="currentPage == totalPages">
                            <a class="page-link custom-link" (click)="pageChange(currentPage + 1)" aria-label="Next">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="page-item" [class.disabled]="currentPage == totalPages">
                            <a class="page-link custom-link nextBtn" (click)="pageChange(totalPages)" aria-label="Next">
                                <i class="fa-solid fa-angles-right"></i>
                            </a>
                        </li>
                        <li class="page-item ms-3">
                            <select class="form-select" aria-label="Default select example" [(ngModel)]="pageSize" (change)="pageSizeChange()">
                                <option class="dropdown-item" *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
                            </select>
                        </li>
                    </ul>
                    <button type="button" (click)="showSideBar()" class="btn btn-outline-danger" *ngIf="FormShowing">ย้อนกลับ</button>
                    <div class="h-minus-navbar bg-body-tertiary p-3 w-100 h-100 overflow-auto p-4" *ngIf="FormShowing">
                        <div
                            [ngClass]="thanks || existing ? 'd-flex align-content-center justify-content-around align-items-center' : ''"
                        >
                            <div class="d-flex justify-content-center flex-column" *ngIf="!thanks && !existing">
                                <p class="pb-4 text-dark fs-5 m-0">แบบสำรวจ : {{ formName }}</p>
                                <formio [form]="form" [submission]="formData" [readOnly]="readOnlyForm" (submit)="onSubmit($event, contactId, formId)"></formio>
                                <button class="btn-primary-color rounded p-2 text-white mt-2" (click)="submitButton()" *ngIf="submitButtonShowing">บันทึก</button>
                            </div>
                            <div *ngIf="thanks && !existing">
                                <div class="d-flex justify-content-center flex-column">
                                    <p class="pb-4 text-dark fs-5 m-0 text-center fs-2">ขอบคุณสำหรับการทำแบบสำรวจ</p>
                                </div>
                            </div>
                            <div *ngIf="existing">
                                <div class="d-flex justify-content-center flex-column">
                                    <p class="pb-4 text-dark fs-5 m-0 text-center fs-2">ท่านได้ทำแบบสำรวจนี้ไปแล้ว</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
