:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.menu-item {
    color: var(--color-text-secondary);
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--color-surface);
        color: var(--primary);
    }

    &.active {
        background-color: var(--primary);
        color: var(--color-white);

        .menu-icon {
            color: var(--color-white);
        }

        .menu-label {
            font-weight: 600;
        }
    }
}

.menu-icon {
    width: 1.25rem;
    color: #6c757d;
    transition: color 0.2s ease-in-out;
}

.menu-label {
    font-size: 0.95rem;
    transition: font-weight 0.2s ease-in-out;
}
