<div class="service-type-modal">
    <!-- Header -->
    <div class="modal-header-section">
        <div class="row align-items-center">
            <div class="col-12 col-md-8">
                <h5 class="modal-title mb-0">
                    {{ 'title.' + title | translate }}
                    <span class="badge bg-secondary ms-2">{{ 'mode.' + data.mode | translate }}</span>
                </h5>
            </div>
            <div class="col-12 col-md-4 text-end mt-2 mt-md-0">
                <button type="button" class="btn-close-modal" (click)="onClickClose()" aria-label="Close">
                    <fa-icon [icon]="faXmark"></fa-icon>
                </button>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="modal-content-section">
        <form [formGroup]="serviceTypeForm" (ngSubmit)="saveServiceType()">
            <div class="form-section">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="name" class="form-label"
                            >{{ 'form.name' | translate }} <span class="text-danger">*</span></label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="name"
                            formControlName="name"
                            [readonly]="data.mode === 'view'"
                            [class.is-invalid]="serviceTypeForm.get('name')?.invalid && serviceTypeForm.get('name')?.touched"
                        />
                        <div
                            class="invalid-feedback"
                            *ngIf="serviceTypeForm.get('name')?.invalid && serviceTypeForm.get('name')?.touched"
                        >
                            {{ 'form.nameRequired' | translate }}
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="serviceGroupSearch" class="form-label">{{ 'menu.serviceGroup' | translate }}</label>
                        <div *ngIf="selectedServiceGroups.length > 0" class="selected-subtype-list mb-2">
                            <span class="badge bg-light text-dark border me-1 mb-1" *ngFor="let group of selectedServiceGroups">
                                {{ group.name }}
                                <button
                                    type="button"
                                    class="btn-remove-subtype"
                                    *ngIf="data.mode !== 'view'"
                                    (click)="removeServiceGroup(group)"
                                    aria-label="Remove"
                                >
                                    &times;
                                </button>
                            </span>
                        </div>
                        <mat-form-field class="w-100" appearance="outline" *ngIf="data.mode !== 'view'">
                            <input
                                id="serviceGroupSearch"
                                type="text"
                                matInput
                                [formControl]="serviceGroupControl"
                                [matAutocomplete]="autoServiceGroup"
                                (input)="filterServiceGroups()"
                                (focus)="filterServiceGroups()"
                                [placeholder]="'contact.searchServiceGroup' | translate"
                            />
                            <mat-autocomplete
                                #autoServiceGroup="matAutocomplete"
                                [displayWith]="displayServiceGroupFn"
                                (optionSelected)="onServiceGroupSelected($event)"
                            >
                                <mat-option *ngFor="let serviceGroup of filteredServiceGroups" [value]="serviceGroup">
                                    {{ serviceGroup.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <label for="serviceSubTypeSearch" class="form-label">{{ 'menu.serviceSubType' | translate }}</label>
                        <div *ngIf="selectedServiceSubTypes.length > 0" class="selected-subtype-list mb-2">
                            <span class="badge bg-light text-dark border me-1 mb-1" *ngFor="let subType of selectedServiceSubTypes">
                                {{ subType.name }}
                                <button
                                    type="button"
                                    class="btn-remove-subtype"
                                    *ngIf="data.mode !== 'view'"
                                    (click)="removeServiceSubType(subType)"
                                    aria-label="Remove"
                                >
                                    &times;
                                </button>
                            </span>
                        </div>
                        <mat-form-field class="w-100" appearance="outline" *ngIf="data.mode !== 'view'">
                            <input
                                id="serviceSubTypeSearch"
                                type="text"
                                matInput
                                [formControl]="serviceSubTypeControl"
                                [matAutocomplete]="autoServiceSubType"
                                (input)="filterServiceSubTypes()"
                                (focus)="filterServiceSubTypes()"
                                [placeholder]="'contact.searchServiceSubType' | translate"
                            />
                            <mat-autocomplete
                                #autoServiceSubType="matAutocomplete"
                                [displayWith]="displayServiceSubTypeFn"
                                (optionSelected)="onServiceSubTypeSelected($event)"
                            >
                                <ng-container *ngFor="let serviceSubType of filteredServiceSubTypes">
                                    <mat-option [value]="serviceSubType">
                                        {{ serviceSubType.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- Action Buttons -->
            <div class="modal-actions" *ngIf="data.mode !== 'view'">
                <div class="d-flex justify-content-end gap-2">
                    <button type="button" class="btn btn-secondary" (click)="onClickClose()">
                        {{ 'common.cancel' | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="serviceTypeForm.invalid">
                        {{ 'common.save' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

