<div class="h-100">
    <div class="bg-white rounded shadow w-100 h-100 d-flex flex-column p-4 overflow-auto">
        <div class="row">
            <div class="col-12">
                <app-announce></app-announce>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-12 col-md-12 col-xl-6">
                <app-announce-list></app-announce-list>
            </div> -->
            <div class="col-12">
                <app-team-activities></app-team-activities>
            </div>
        </div>
    </div>
</div>
