<div class="h-100">
    <div class="bg-white rounded shadow w-100 h-100 d-flex flex-column p-4 overflow-auto">
        <div class="row">
            <div class="col-12">
                <app-announce></app-announce>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center p-2">
                <mat-button-toggle-group name="viewType" aria-label="View Type" [(ngModel)]="selectedViewType">
                    <mat-button-toggle value="calendar">
                        <fa-icon [icon]="faCalendar"></fa-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="list">
                        <fa-icon [icon]="faList"></fa-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-announce-list *ngIf="selectedViewType === 'list'"></app-announce-list>
                <app-team-activities *ngIf="selectedViewType === 'calendar'"></app-team-activities>
            </div>
        </div>
    </div>
</div>
