<div class="row g-2 p-2 align-items-center" [ngClass]="{ 'bg-light': isBackground }">
    <div class="col-auto m-0 px-3">
        <div class="position-relative">
            <div class="profile-container m-auto">
                <img
                    class="profile-image img-fluid"
                    [src]="member?.profile"
                    [alt]="member?.username"
                    (error)="handleProfileError($event)"
                />
            </div>
            <div class="dot">
                <div
                    class="dot-inner dot-status"
                    [ngbTooltip]="getStatusOnline(member?.userId) ? 'Online' : 'Offline'"
                    [class.dot-status-online]="getStatusOnline(member?.userId)"
                ></div>
            </div>
        </div>
    </div>
    <div class="col m-0">
        <div class="user-info">
            <p class="label fs-7">{{ member?.username }}</p>
            <p class="label fs-8">{{ member?.role?.roleTitle }}</p>
        </div>
    </div>
    <div class="col-auto m-0 px-3" *ngIf="isShowToolbar">
        <div class="user-action d-flex gap-2">
            <button type="button" class="btn btn-primary-color text-white" (click)="onClickView(member)">
                <fa-icon [icon]="faEye"></fa-icon>
            </button>
            <button
                *ngIf="mode === 'edit' && isAction"
                type="button"
                class="btn btn-primary-color text-white"
                (click)="onClickEdit(member)"
            >
                <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button *ngIf="mode === 'edit' && isAction" type="button" class="btn btn-red-color text-white" (click)="onClickDelete(member)">
                <fa-icon [icon]="faXmark"></fa-icon>
            </button>
        </div>
    </div>
</div>
