<div class="row justify-content-center align-items-center">
    <div class="col-auto">
        <span class="fs-6 color-primary d-flex flex-row gap-2">
            <fa-icon [icon]="faAnnounce"></fa-icon>
            <p class="cursor-default m-0">ประกาศ :</p>
        </span>
    </div>
    <div class="col-sm-6 col-md-8 d-flex justify-content-center align-items-center col-xl-10">
        <marquee class="fs-7" behavior="scroll" direction="left" scrollamount="8">
            <p class="m-0" [innerHTML]="marqueeText"></p>
        </marquee>
    </div>
    <div class="col-auto">
        <div class="announcement-action d-flex flex-row gap-2">
            <button class="btn btn-primary-color text-white" (click)="onClickView()">
                <fa-icon [icon]="faEye"> </fa-icon>
            </button>
            <button *ngIf="isAction" class="btn btn-primary-color text-white" (click)="onClickEdit()">
                <fa-icon [icon]="faEdit"></fa-icon>
            </button>
        </div>
    </div>
</div>
