<div class="row pb-2 px-5" *ngIf="announcements.length > 0">
    <div class="col-sm-3 col-md-2 col-xl-1">
        <span class="fs-6 color-primary d-flex flex-row justify-content-center gap-2">
            <fa-icon [icon]="faAnnounce"></fa-icon>
            <p class="m-0">ประกาศ :</p>
        </span>
    </div>
    <div class="col-sm-6 col-md-8 col-xl-10">
        <marquee class="fs-7" behavior="scroll" direction="left" scrollamount="8">
            <p class="m-0" [innerHTML]="marqueeText"></p>
        </marquee>
    </div>
    <div class="col-sm-3 col-md-2 col-xl-1">
        <span class="fs-6 color-primary d-flex flex-row justify-content-center gap-2 cursor-pointer">
            <fa-icon [icon]="faEdit"></fa-icon>
            <p class="m-0">แก้ไข</p>
        </span>
    </div>
</div>
