<div>
    <!-- <div class="row justify-content-end align-items-center pe-4" [formGroup]="datePick">
        <div class="col-auto">
            <div class="input-group start-date">
                <input
                    matInput
                    [matDatepicker]="startDatePicker"
                    formControlName="startDate"
                    name="datetime"
                    class="input-date form-control"
                    (dateChange)="onStartDateChange($event)"
                />
                <span class="input-group-text" ngbTooltip="From Date">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                </span>
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group end-date">
                <input
                    matInput
                    [matDatepicker]="endDatePicker"
                    formControlName="endDate"
                    name="datetime"
                    class="input-date form-control"
                    (dateChange)="onEndDateChange($event)"
                />
                <span class="input-group-text" ngbTooltip="To Date">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                </span>
            </div
        </div>
        <div class="col-auto">
            <div class="align-self-end">
                <button class="d-flex gap-2 d-md-none d-lg-flex btn-primary-color rounded p-2 text-white" (click)="clickgo()">ค้นหา</button>
            </div>
        </div>
    </div> -->
    <div style="overflow-x: scroll">
        <div class="pe-4 ps-4 table-container">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>Month</a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>Hotline (Inbound) </a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>Hotline (Outbound) </a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>Email (Inbound)</a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>Email (Outbound)</a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>Mobile Unit </a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>Live Chat</a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>อื่นๆ</a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>รวม (Channel)</a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>ข้อมูลทั่วไป </a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>ระบบ Drive </a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>E-Academy</a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>ติดต่อประสานงาน</a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>ประชาสัมพันธ์และติดตามผล</a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>ร้องเรียน</a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>ชมเชย</a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>อื่นๆ</a>
                        </th>
                        <th style="width: 15%" scope="col" class="flex-column">
                            <a>รวม (Case Type)</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="reportTable?.length > 0; else noDataTemplate">
                        <tr *ngFor="let data of reportTable; let i = index">
                            <td scope="row">{{ data.date }}</td>
                            <td scope="row">{{ data.HotIn }}</td>
                            <td scope="row">{{ data.HotOut }}</td>
                            <td scope="row">{{ data.MailIn }}</td>
                            <td scope="row">{{ data.MailOut }}</td>
                            <td scope="row">{{ data.Mobile }}</td>
                            <td scope="row">{{ data.LiveChat }}</td>
                            <td scope="row">{{ data.Other }}</td>
                            <td scope="row">{{ data.TotalChannel }}</td>
                            <td scope="row">{{ data.Topic1 }}</td>
                            <td scope="row">{{ data.Topic2 }}</td>
                            <td scope="row">{{ data.Topic3 }}</td>
                            <td scope="row">{{ data.Topic4 }}</td>
                            <td scope="row">{{ data.Topic5 }}</td>
                            <td scope="row">{{ data.Topic7 }}</td>
                            <td scope="row">{{ data.Topic8 }}</td>
                            <td scope="row">{{ data.Topic6 }}</td>
                            <td scope="row">{{ data.TotalTopic }}</td>
                        </tr>
                    </ng-container>
                    <ng-template #noDataTemplate>
                        <tr>
                            <td colspan="18" class="text-center">ไม่มีข้อมูล</td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>
