<div>
    <div class="row justify-content-end align-items-center pe-4" [formGroup]="datePick">
        <div class="col-auto">
            <div class="input-group start-date">
                <input
                    type="number"
                    formControlName="startDate"
                    name="datetime"
                    class="input-date form-control"
                    (dateChange)="onStartDateChange($event)"
                    ngbTooltip="From Year"
                />
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group end-date">
                <input
                    type="number"
                    formControlName="endDate"
                    name="datetime"
                    class="input-date form-control"
                    (dateChange)="onEndDateChange($event)"
                    ngbTooltip="To Year"
                />
            </div>
        </div>
        <div class="col-auto">
            <div class="align-self-end">
                <button class="d-flex gap-2 d-md-none d-lg-flex btn-primary-color rounded p-2 text-white" (click)="clickGetReport()">
                    ค้นหา
                </button>
            </div>
        </div>
    </div>
    <div>
        <div class="pe-4 ps-4 table-container">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">
                            <a>Month</a>
                        </th>
                        <th scope="col">
                            <a>Hotline (Inbound) </a>
                        </th>
                        <th scope="col">
                            <a>Hotline (Outbound) </a>
                        </th>
                        <th scope="col">
                            <a>Email (Inbound)</a>
                        </th>
                        <th scope="col">
                            <a>Email (Outbound)</a>
                        </th>
                        <th scope="col">
                            <a>Mobile Unit </a>
                        </th>
                        <th scope="col">
                            <a>Live Chat</a>
                        </th>
                        <th scope="col">
                            <a>อื่นๆ</a>
                        </th>
                        <th scope="col">
                            <a>รวม (Channel)</a>
                        </th>
                        <th scope="col">
                            <a>ข้อมูลทั่วไป </a>
                        </th>
                        <th scope="col">
                            <a>ระบบ Drive </a>
                        </th>
                        <th scope="col">
                            <a>E-Academy</a>
                        </th>
                        <th scope="col">
                            <a>ติดต่อประสานงาน</a>
                        </th>
                        <th scope="col">
                            <a>ประชาสัมพันธ์และติดตามผล</a>
                        </th>
                        <th scope="col">
                            <a>ร้องเรียน</a>
                        </th>
                        <th scope="col">
                            <a>ชมเชย</a>
                        </th>
                        <th scope="col">
                            <a>อื่นๆ</a>
                        </th>
                        <th scope="col">
                            <a>รวม (Case Type)</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="reportTable?.length > 0; else noDataTemplate">
                        <tr *ngFor="let data of reportTable.slice(0, reportTable.length - 1); let i = index">
                            <td scope="row">{{ data.date }}</td>
                            <td scope="row">{{ data.HotIn }}</td>
                            <td scope="row">{{ data.HotOut }}</td>
                            <td scope="row">{{ data.MailIn }}</td>
                            <td scope="row">{{ data.MailOut }}</td>
                            <td scope="row">{{ data.Mobile }}</td>
                            <td scope="row">{{ data.LiveChat }}</td>
                            <td scope="row">{{ data.Other }}</td>
                            <td scope="row">{{ data.TotalChannel }}</td>
                            <td scope="row">{{ data.Topic1 }}</td>
                            <td scope="row">{{ data.Topic2 }}</td>
                            <td scope="row">{{ data.Topic3 }}</td>
                            <td scope="row">{{ data.Topic4 }}</td>
                            <td scope="row">{{ data.Topic5 }}</td>
                            <td scope="row">{{ data.Topic7 }}</td>
                            <td scope="row">{{ data.Topic8 }}</td>
                            <td scope="row">{{ data.Topic6 }}</td>
                            <td scope="row">{{ data.TotalTopic }}</td>
                        </tr>
                    </ng-container>
                    <ng-template #noDataTemplate>
                        <tr>
                            <td colspan="18" class="text-center">ไม่มีข้อมูล</td>
                        </tr>
                    </ng-template>
                </tbody>
                <tfoot>
                    <tr>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.date }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.HotIn }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.HotOut }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.MailIn }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.MailOut }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.Mobile }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.LiveChat }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.Other }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.TotalChannel }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.Topic1 }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.Topic2 }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.Topic3 }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.Topic4 }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.Topic5 }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.Topic7 }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.Topic8 }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.Topic6 }}</td>
                        <td scope="row">{{ reportTable[reportTable.length - 1]?.TotalTopic }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
