<div class="h-full">
    <div class="bg-white border-round-lg shadow-2 w-full h-full">
        <div class="p-4 flex flex-column md:flex-row lg:flex-row gap-4 align-items-center">
            <p class="m-0 text-2xl flex-none">การติดตามประเมินผล</p>
            <div class="flex flex-grow-1 flex-nowrap w-full">
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-search color-primary font-semibold"></i>
                    <input
                        type="text"
                        pInputText
                        [(ngModel)]="value"
                        placeholder="ค้นหา..."
                        ngClass="font-thai w-full border-noround-right"
                    />
                </span>
                <p-dropdown
                    id="survey"
                    [options]="filterOption"
                    [(ngModel)]="selectedFilter"
                    optionLabel="name"
                    [showClear]="false"
                    styleClass="h-full border-noround-left"
                ></p-dropdown>
            </div>
            <p-button
                label="สร้างแบบสำรวจ"
                icon="pi pi-plus"
                class="flex-none flex md:hidden lg:flex"
                styleClass="font-thai btn-color-primary"
            ></p-button>
            <p-button icon="pi pi-plus" class="flex-none hidden md:flex lg:hidden" styleClass="font-thai btn-color-primary"></p-button>
        </div>
        <div *ngIf="selectedSurvey.length != 0">
            <div class="flex p-3 bg-gray-50">
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-excel"
                    (click)="exportExcel()"
                    class="p-button-success mr-2"
                    pTooltip="XLS"
                    tooltipPosition="bottom"
                ></button>
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    (click)="editSurveys()"
                    class="p-button-warning mr-2"
                    pTooltip="Edit"
                    tooltipPosition="bottom"
                ></button>
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    (click)="deleteSurvey()"
                    class="p-button-danger ml-auto"
                    pTooltip="Delete"
                    tooltipPosition="bottom"
                ></button>
            </div>
        </div>
        <div>
            <p-table
                #dt
                [value]="surveys"
                [(selection)]="selectedSurvey"
                (selectionChange)="onSelectionChange($event)"
                dataKey="no"
                [tableStyle]="{ 'min-width': '50rem' }"
                styleClass="p-datatable-sm"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem"></th>
                        <th style="width: 15%" pSortableColumn="no">
                            <div class="flex flex-row flex-nowrap align-items-center">
                                <p class="m-0">เลขที่การทำแบบสำรวจ</p>
                                <p-sortIcon field="no"></p-sortIcon>
                            </div>
                        </th>
                        <th style="width: 18%" pSortableColumn="name">
                            <div class="flex flex-row flex-nowrap align-items-center">
                                <p class="m-0">ชื่อผู้ติดตามและประเมินผลฯ</p>
                                <p-sortIcon field="name"></p-sortIcon>
                            </div>
                        </th>
                        <th style="width: 34%" pSortableColumn="survey_form">
                            <div class="flex flex-row flex-nowrap align-items-center">
                                <p class="m-0">แบบฟอร์มสำรวจ</p>
                                <p-sortIcon field="survey_form"></p-sortIcon>
                            </div>
                        </th>
                        <th style="width: 15%" pSortableColumn="year">
                            <div class="flex flex-row flex-nowrap align-items-center">
                                <p class="m-0">ประจำปี (ค.ศ.)</p>
                                <p-sortIcon field="year"></p-sortIcon>
                            </div>
                        </th>
                        <th style="width: 18%" pSortableColumn="save_date">
                            <div class="flex flex-row flex-nowrap align-items-center">
                                <p class="m-0">วันที่บันทึก</p>
                                <p-sortIcon field="save_date"></p-sortIcon>
                            </div>
                        </th>
                        <th>จัดการ</th>
                    </tr>
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="no"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="name"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="survey_form"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="year"></p-columnFilter>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-survey>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="survey"></p-tableCheckbox>
                        </td>
                        <td>{{ survey.no }}</td>
                        <td>{{ survey.name }}</td>
                        <td>
                            <a pTooltip="{{ survey.survey_form }}">{{ survey.survey_form }}</a>
                        </td>
                        <td>{{ survey.year }}</td>
                        <td>{{ survey.save_date }}</td>
                        <td class="text-center"><fa-icon [icon]="faPenToSquare"></fa-icon></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No data found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
