<div class="h-100">
    <div class="bg-white rounded shadow w-100 h-100">
        <div class="p-4 d-flex flex-column justify-content-between flex-md-row flex-lg-row gap-4 align-items-center w-100">
            <p class="m-0 d-flex fs-5">การติดตามประเมินผล</p>
            <div class="d-flex flex-nowrap flex-grow-1">
                <div class="input-group">
                    <span class="input-group-text bg-white border border-end-0 color-primary" id="basic-addon1">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input
                        id="table-complete-search"
                        type="text"
                        class="form-control border border-start-0 shadow-none"
                        name="searchTerm"
                        [(ngModel)]="surveyService.searchTerm"
                        placeholder="ค้นหา..."
                        aria-describedby="basic-addon1"
                        style="width: 70%"
                    />
                    <select class="form-select shadow-none" aria-label="Default select example" [(ngModel)]="selectedFilter">
                        <option *ngFor="let op of filterOption" [value]="op.code">
                            {{ op.name }}
                        </option>
                    </select>
                </div>
            </div>
            <button class="d-flex align-items-center gap-2 d-md-none d-lg-flex btn-primary-color rounded p-2 text-white">
                <i class="fa-solid fa-plus"></i>
                สร้างแบบสำรวจ
            </button>
            <div class="d-none d-md-flex d-lg-none p-2 btn-primary-color rounded text-white">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div *ngIf="selectedSurvey.length != 0">
            <div class="flex p-3 bg-gray-50">
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-excel"
                    (click)="exportExcel()"
                    class="p-button-success mr-2"
                    pTooltip="XLS"
                    tooltipPosition="bottom"
                ></button>
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    (click)="editSurveys()"
                    class="p-button-warning mr-2"
                    pTooltip="Edit"
                    tooltipPosition="bottom"
                ></button>
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    (click)="deleteSurvey()"
                    class="p-button-danger ml-auto"
                    pTooltip="Delete"
                    tooltipPosition="bottom"
                ></button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th scope="col" style="width: 4rem"></th>
                        <th scope="col" style="width: 17%" sortable="no" (sort)="onSort($event)">เลขที่การทำแบบสำรวจ</th>
                        <th scope="col" style="width: 20%" sortable="name" (sort)="onSort($event)">ชื่อผู้ติดตามและประเมินผลฯ</th>
                        <th scope="col" style="width: 34%" sortable="survey_form" (sort)="onSort($event)">แบบฟอร์มสำรวจ</th>
                        <th scope="col" style="width: 11%" sortable="year" (sort)="onSort($event)">ประจำปี (ค.ศ.)</th>
                        <th scope="col" style="width: 18%" sortable="save_date" (sort)="onSort($event)">วันที่บันทึก</th>
                        <th scope="col">จัดการ</th>
                    </tr>
                </thead>
                <tbody>
                    @for (survey of surveys$ | async; track survey.no) {
                    <tr>
                        <td scope="row"><input type="checkbox" value="survey" (change)="onSelectionChange(survey)" /></td>
                        <td>{{ survey.no }}</td>
                        <td>{{ survey.name }}</td>
                        <td class="text-ellipsis">{{ survey.survey_form }}</td>
                        <td>{{ survey.year }}</td>
                        <td>{{ survey.save_date }}</td>
                        <td class="text-center"><i class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                    } @empty {
                    <tr>
                        <td colspan="6" style="text-align: center">No countries found</td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-3">
                <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="surveyService.page" [pageSize]="surveyService.pageSize">
                </ngb-pagination>

                <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="surveyService.pageSize">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                </select>
            </div>
        </div>
    </div>
</div>
