.input-date {
    height: 100%;
    width: 120px;
}

.input-group-text {
    padding: 0;
    max-width: 44px !important;
    max-height: 38px !important;
}

.table-container {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: auto;
}
.table-container thead {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
}

.table-container tfoot {
    position: sticky;
    bottom: 0;
    background-color: #f8f9fa;
    z-index: 1;
}

.input-group {
    max-width: 90%;
}

.input-group.no-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.select-container {
    flex-grow: 1;
}

.form-select {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button-container {
    margin-left: 5px; /* Adjust this value to control the space between select and button */
}

.input-group.no-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.input-group.no-wrap .form-select {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.border-both {
    white-space: nowrap !important;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.no-border {
    white-space: nowrap !important;
}
