<div>
    <div class="row justify-content-end align-items-center pe-4">
        <div class="col-auto">
            <div class="input-group">
                <select id="inputForm" class="form-select" name="selectedForms" [(ngModel)]="selectedForms" (change)="onChangeForm($event)">
                    <option disabled value="">{{ selectText | translate }}</option>
                    <option *ngFor="let option of optionForms" [value]="option.surveyFormId">{{ option.name }}</option>
                </select>
            </div>
        </div>
        <div class="col-auto" [formGroup]="datePick" [style.display]="'none'">
            <div class="input-group start-date">
                <input
                    matInput
                    [matDatepicker]="startDatePicker"
                    formControlName="startDate"
                    name="datetime"
                    class="input-date form-control"
                    (dateChange)="onStartDateChange($event)"
                />
                <span class="input-group-text" ngbTooltip="From Date">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                </span>
            </div>
        </div>
        <div class="col-auto" [formGroup]="datePick" [style.display]="'none'">
            <div class="input-group end-date">
                <input
                    matInput
                    [matDatepicker]="endDatePicker"
                    formControlName="endDate"
                    name="datetime"
                    class="input-date form-control"
                    (dateChange)="onEndDateChange($event)"
                />
                <span class="input-group-text" ngbTooltip="To Date">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                </span>
            </div>
        </div>
        <div class="col-auto" [style.display]="'none'">
            <div class="align-self-end">
                <button class="d-flex gap-2 d-md-none d-lg-flex btn-primary-color rounded p-2 text-white" (click)="clickgo()">ค้นหา</button>
            </div>
        </div>
        <div class="col-auto" [style.display]="'none'">
            <div class="dropdown">
                <button
                    class="dropdown-toggle d-md-none d-lg-flex btn-primary-color rounded p-2 text-white"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <fa-icon [icon]="faGear"></fa-icon>
                </button>

                <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                    <div class="form-check" *ngFor="let column of columnVisibilityKeys">
                        <input
                            class="form-check-input cursor-pointer"
                            type="checkbox"
                            [(ngModel)]="columnVisibility[column]"
                            id="checkbox-{{ column }}"
                        />
                        <span class="form-check-label cursor-default">
                            {{ column }}
                        </span>
                    </div>
                    <button type="button" class="btn btn-primary-color text-white w-100 mt-1" (click)="applyColumnVisibility()">
                        {{ 'page.tag.save' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-auto" [style.display]="displayIf()">
            <button
                class="d-flex gap-2 d-md-none d-lg-flex btn-primary-color rounded p-2 text-white"
                (click)="exportExcel('data-table')"
                ngbTooltip="Export to Excel"
            >
                <fa-icon [icon]="faFileExport"></fa-icon>
            </button>
        </div>
    </div>
    <div class="pe-4 ps-4 table-container">
        <table class="table table-responsive" id="data-table">
            <thead>
                <tr>
                    <ng-container *ngFor="let panel of reportPanel">
                        <th [attr.colspan]="panel.colspan" scope="row" style="white-space: nowrap">
                            <a>{{ panel.label }}</a>
                        </th>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container *ngFor="let column of columnNames">
                        <th
                            [attr.colspan]="
                                reportColumn[column]?.colspan > 1 ? reportColumn[column]?.colspan - 1 : reportColumn[column]?.colspan
                            "
                            scope="row"
                            style="white-space: nowrap"
                        >
                            <a>{{ reportColumn[column].label }}</a>
                        </th>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container *ngIf="reportSubColumn">
                        <ng-container *ngFor="let column of columnNames">
                            <ng-container *ngIf="reportColumn[column].type === 'survey'">
                                <ng-container *ngFor="let survey of reportColumn[column].survey | keyvalue">
                                    <th colspan="1" scope="row" style="white-space: nowrap">
                                        <a>{{ survey.key }}</a>
                                    </th>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="reportColumn[column].type === 'selectboxes'">
                                <ng-container *ngFor="let selected of reportColumn[column].value">
                                    <th colspan="1" scope="row" style="white-space: nowrap">
                                        <a>{{ selected.label }}</a>
                                    </th>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="reportColumn[column].type !== 'survey' && reportColumn[column].type !== 'selectboxes'">
                                <th
                                    [attr.colspan]="
                                        reportColumn[column]?.colspan > 1
                                            ? reportColumn[column]?.colspan - 1
                                            : reportColumn[column]?.colspan
                                    "
                                    scope="row"
                                    style="white-space: nowrap"
                                >
                                    <a></a>
                                </th>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="reportTable?.length > 0; else noDataTemplate">
                    <tr *ngFor="let data of reportTable.slice(0, reportTable.length - 1); let i = index">
                        <ng-container *ngFor="let column of columnNames">
                            <ng-container *ngIf="isObject(data[column])">
                                <ng-container *ngFor="let subColumn of data[column] | keyvalue">
                                    <td scope="row">
                                        <a>{{ subColumn.value }}</a>
                                    </td>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="!isObject(data[column])">
                                <td scope="row">
                                    <a>{{ data[column] }}</a>
                                </td>
                            </ng-container>
                        </ng-container>
                    </tr>
                </ng-container>
                <ng-template #noDataTemplate>
                    <tr>
                        <td colspan="3" class="text-center">{{ loadingText | translate }}</td>
                        <td [attr.colspan]="getNumColumn() - 3" class="text-center"></td>
                    </tr>
                </ng-template>
            </tbody>
            <tfoot>
                <tr>
                    <ng-container *ngFor="let column of columnNames">
                        <td scope="row" *ngIf="columnVisibility[column]">
                            <a>{{ getTotal(column) }}</a>
                        </td>
                    </ng-container>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
