<div class="d-flex align-content-center justify-content-around align-items-center min-vh-100 surface-100 p-8">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="h-100 w-100">
            <div class="border rounded-2 p-5 shadow" style="width: 24rem">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center mb-4">
                        <img src="./assets/qcrm-ui/image/logo_roddonjai.svg" class="w-100" />
                    </div>
                    <div class="col-12">
                        <div>
                            <p class="fs-3 text-center">{{ 'login.title' | translate }}</p>
                            <div class="mb-3">
                                <label for="username" class="form-label">{{ 'login.username' | translate }}</label>
                                <input
                                    id="username"
                                    type="text"
                                    formControlName="username"
                                    class="form-control w-100"
                                    [placeholder]="'login.usernamePlaceholder' | translate"
                                    required
                                />
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">{{ 'login.password' | translate }}</label>
                                <div class="position-relative">
                                    <input
                                        id="password"
                                        [type]="showPassword ? 'text' : 'password'"
                                        formControlName="password"
                                        class="form-control w-100"
                                        name="password"
                                        [placeholder]="'login.passwordPlaceholder' | translate"
                                    />
                                    <i
                                        class="fa-solid fa-eye position-absolute top-50 end-0 translate-middle-y me-2"
                                        (click)="togglePassword()"
                                        *ngIf="!showPassword"
                                    ></i>
                                    <i
                                        class="fa-solid fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-2"
                                        (click)="togglePassword()"
                                        *ngIf="showPassword"
                                    ></i>
                                </div>
                            </div>

                            <button type="submit" class="border-0 rounded p-2 w-100 btn-primary-color text-white">{{ 'login.submit' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
