<div class="container">
    <div class="row p-4">
        <div class="col-8">
            <p class="form-label fs-5">{{ title | uppercase }}({{ data.mode | uppercase }})</p>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <a class="color-red cursor-pointer" (click)="onClickClose()">
                <fa-icon class="fs-5" [icon]="faXmark"></fa-icon>
            </a>
        </div>

        <app-account-profile [member]="data.member" [mode]="data.mode"></app-account-profile>
    </div>
</div>
