<div class="p-3">
    <app-chat-subnav active="bot"></app-chat-subnav>
    <div class="bg-white rounded shadow p-4">
        <div class="row g-4">
            <div class="col-lg-4">
                <h6>{{ 'chat.categories' | translate }}</h6>
                <div class="input-group mb-2">
                    <input class="form-control" [placeholder]="'chat.category-name' | translate" [(ngModel)]="categoryForm.categoryName" />
                    <button class="btn btn-primary" type="button" (click)="saveCategory()">{{ 'common.add' | translate }}</button>
                </div>
                <div class="d-flex flex-wrap gap-2 mb-4">
                    <span class="badge text-bg-secondary p-2" *ngFor="let c of categories">
                        {{ c.categoryName }}
                        <button type="button" class="btn-close btn-close-white btn-close-sm ms-1" (click)="deleteCategory(c.id)"></button>
                    </span>
                </div>

                <h6>{{ 'chat.test-match' | translate }}</h6>
                <div class="input-group mb-2">
                    <input class="form-control" [(ngModel)]="testText" [placeholder]="'chat.customer-message' | translate" (keyup.enter)="testMatch()" />
                    <button class="btn btn-outline-primary" type="button" (click)="testMatch()">{{ 'chat.test' | translate }}</button>
                </div>
                <pre class="bg-light p-2 small" *ngIf="testResult">{{ testResult | json }}</pre>
            </div>

            <div class="col-lg-8">
                <h6>{{ 'chat.keywords' | translate }}</h6>
                <div class="row g-2 mb-3">
                    <div class="col-md-4">
                        <input class="form-control" [placeholder]="'chat.keyword' | translate" [(ngModel)]="keywordForm.keywordName" />
                    </div>
                    <div class="col-md-3">
                        <select class="form-select" [(ngModel)]="keywordForm.categoryId">
                            <option [ngValue]="null">{{ 'chat.no-category' | translate }}</option>
                            <option *ngFor="let c of categories" [ngValue]="c.id">{{ c.categoryName }}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="number" [placeholder]="'chat.group-id' | translate" [(ngModel)]="keywordForm.keywordGroupId" />
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary w-100" type="button" (click)="saveKeyword()">{{ 'chat.save-keyword' | translate }}</button>
                    </div>
                </div>

                <table class="table table-sm mb-4">
                    <thead>
                        <tr>
                            <th>{{ 'chat.keyword' | translate }}</th>
                            <th>{{ 'chat.group' | translate }}</th>
                            <th>{{ 'chat.category' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let k of keywords">
                            <td>{{ k.keywordName }}</td>
                            <td>{{ k.keywordGroupId }}</td>
                            <td>{{ k.categoryName || '-' }}</td>
                            <td>
                                <button class="btn btn-sm btn-link" type="button" (click)="editKeyword(k)">{{ 'chat.edit-use-group' | translate }}</button>
                                <button class="btn btn-sm btn-link text-danger" type="button" (click)="deleteKeyword(k.id)">{{ 'common.delete' | translate }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h6>{{ 'chat.responses-for-group' | translate }} {{ responseForm.keywordGroupId || '-' }}</h6>
                <div class="row g-2 mb-3">
                    <div class="col-md-2">
                        <input class="form-control" type="number" [placeholder]="'chat.group-id' | translate" [(ngModel)]="responseForm.keywordGroupId" />
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" [placeholder]="'chat.response-text' | translate" [(ngModel)]="responseForm.messageText" />
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary w-100" type="button" (click)="saveResponse()">{{ 'chat.save-response' | translate }}</button>
                    </div>
                </div>

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>{{ 'chat.group' | translate }}</th>
                            <th>{{ 'chat.text' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of responses">
                            <td>{{ r.keywordGroupId }}</td>
                            <td>{{ r.messageText }}</td>
                            <td>
                                <button class="btn btn-sm btn-link text-danger" type="button" (click)="deleteResponse(r.id)">{{ 'common.delete' | translate }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
