<div class="container">
    <div class="row">
        <div class="col-md-12 p-4">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="m-0">Password Management</h2>
            </div>
        </div>
        <div class="col-md-12 px-4 pt-2 pb-4">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                <div class="form-group px-3 py-2">
                    <label class="mb-2" for="currentPassword">Current password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="currentPassword"
                        formControlName="currentPassword"
                        name="currentPassword"
                        required
                        [ngClass]="{
                            'invalid-form':
                                (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched) &&
                                passwordForm.get('currentPassword')?.invalid
                        }"
                    />
                    <div
                        *ngIf="
                            passwordForm.get('currentPassword')?.invalid &&
                            (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched)
                        "
                        class="fs-8 pt-2 text-danger"
                    >
                        Current password is required and must be at least 8 characters long.
                    </div>
                </div>
                <div class="form-group px-3 py-2">
                    <label class="mb-2" for="newPassword">New password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="newPassword"
                        formControlName="newPassword"
                        name="newPassword"
                        required
                        [ngClass]="{
                            'invalid-form':
                                (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched) &&
                                passwordForm.get('newPassword')?.invalid
                        }"
                    />
                    <div
                        *ngIf="
                            passwordForm.get('newPassword')?.invalid &&
                            (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)
                        "
                        class="fs-8 pt-2 text-danger"
                    >
                        New password is required and must be at least 8 characters long.
                    </div>
                </div>
                <div class="form-group px-3 py-2">
                    <label class="mb-2" for="verifyPassword">Verify password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="verifyPassword"
                        formControlName="verifyPassword"
                        name="verifyPassword"
                        required
                        [ngClass]="{
                            'invalid-form':
                                (passwordForm.get('verifyPassword')?.dirty || passwordForm.get('verifyPassword')?.touched) &&
                                passwordForm.get('verifyPassword')?.invalid
                        }"
                    />
                    <div
                        *ngIf="
                            passwordForm.get('verifyPassword')?.invalid &&
                            (passwordForm.get('verifyPassword')?.dirty || passwordForm.get('verifyPassword')?.touched)
                        "
                        class="fs-8 pt-2 text-danger"
                    >
                        Verify password is required and must be at least 8 characters long.
                    </div>
                </div>
                <div class="text-center px-3 py-2">
                    <button type="submit" class="btn btn-primary-color w-100 text-white" [disabled]="passwordForm.invalid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
