<div class="container">
    <div class="row g-3 p-3">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="fs-5 m-0">{{ 'title.management-password' | translate }}</h2>
                <div style="min-height: 36px"></div>
            </div>
        </div>
        <div class="col-md-12">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                <div class="form-group px-3 py-2">
                    <label class="mb-2" for="currentPassword">{{ 'page.password.currentPassword' | translate }}</label>
                    <div class="position-relative">
                        <input
                            [type]="showOldPassword ? 'text' : 'password'"
                            class="form-control"
                            id="currentPassword"
                            formControlName="currentPassword"
                            name="currentPassword"
                            required
                            [ngClass]="{
                                'invalid-form':
                                    (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched) &&
                                    passwordForm.get('currentPassword')?.invalid
                            }"
                        />
                        <i
                            class="fa-solid fa-eye position-absolute top-50 end-0 translate-middle-y me-2"
                            (click)="toggleOldPassword()"
                            *ngIf="!showOldPassword"
                        ></i>
                        <i
                            class="fa-solid fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-2"
                            (click)="toggleOldPassword()"
                            *ngIf="showOldPassword"
                        ></i>
                        <div
                            *ngIf="
                                passwordForm.get('currentPassword')?.invalid &&
                                (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched)
                            "
                            class="fs-8 pt-2 text-danger"
                        >
                            {{ 'page.password.currentPasswordRequired' | translate }}
                        </div>
                    </div>
                </div>
                <div class="form-group px-3 py-2">
                    <label class="mb-2" for="newPassword">{{ 'page.password.newPassword' | translate }}</label>
                    <div class="position-relative">
                        <input
                            [type]="showNewPassword ? 'text' : 'password'"
                            class="form-control"
                            id="newPassword"
                            formControlName="newPassword"
                            name="newPassword"
                            required
                            [ngClass]="{
                                'invalid-form':
                                    (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched) &&
                                    passwordForm.get('newPassword')?.invalid
                            }"
                        />
                        <i
                            class="fa-solid fa-eye position-absolute top-50 end-0 translate-middle-y me-2"
                            (click)="toggleNewPassword()"
                            *ngIf="!showNewPassword"
                        ></i>
                        <i
                            class="fa-solid fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-2"
                            (click)="toggleNewPassword()"
                            *ngIf="showNewPassword"
                        ></i>
                    </div>
                    <div
                        *ngIf="
                            passwordForm.get('newPassword')?.invalid &&
                            (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)
                        "
                        class="fs-8 pt-2 text-danger"
                    >
                        {{ 'page.password.newPasswordRequired' | translate }}
                    </div>
                </div>
                <div class="form-group px-3 py-2">
                    <label class="mb-2" for="verifyPassword">{{ 'page.password.verifyPassword' | translate }}</label>
                    <div class="position-relative">
                        <input
                            [type]="showVerifyPassword ? 'text' : 'password'"
                            class="form-control"
                            id="verifyPassword"
                            formControlName="verifyPassword"
                            name="verifyPassword"
                            required
                            [ngClass]="{
                                'invalid-form':
                                    (passwordForm.get('verifyPassword')?.dirty || passwordForm.get('verifyPassword')?.touched) &&
                                    passwordForm.get('verifyPassword')?.invalid
                            }"
                        />
                        <i
                            class="fa-solid fa-eye position-absolute top-50 end-0 translate-middle-y me-2"
                            (click)="toggleVerifyPassword()"
                            *ngIf="!showVerifyPassword"
                        ></i>
                        <i
                            class="fa-solid fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-2"
                            (click)="toggleVerifyPassword()"
                            *ngIf="showVerifyPassword"
                        ></i>
                    </div>
                    <div
                        *ngIf="
                            passwordForm.get('verifyPassword')?.invalid &&
                            (passwordForm.get('verifyPassword')?.dirty || passwordForm.get('verifyPassword')?.touched)
                        "
                        class="fs-8 pt-2 text-danger"
                    >
                        {{ 'page.password.verifyPasswordRequired' | translate }}
                    </div>
                </div>
                <div class="text-center px-3 py-2">
                    <button type="submit" class="btn btn-primary-color w-100 text-white" [disabled]="passwordForm.invalid">
                        {{ 'common.save' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
