<div class="container">
    <div class="row">
        <div class="col-md-12 p-4">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="m-0">Password Management</h2>
            </div>
        </div>
        <div class="col-md-12 px-4 pt-2 pb-4">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group px-3 py-2">
                    <label class="mb-2" for="currentPassword">Current password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="currentPassword"
                        [(ngModel)]="currentPassword"
                        name="currentPassword"
                        required
                    />
                </div>
                <div class="form-group px-3 py-2">
                    <label class="mb-2" for="newPassword">New password</label>
                    <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required />
                </div>
                <div class="form-group px-3 py-2">
                    <label class="mb-2" for="verifyPassword">Verify password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="verifyPassword"
                        [(ngModel)]="verifyPassword"
                        name="verifyPassword"
                        required
                    />
                </div>
                <div class="text-center px-3 py-2">
                    <button type="submit" class="btn btn-primary-color w-100 text-white">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
