:root {
    --primary: #3066be;
    --primary-active-color: #60afff;
    --color-blue-dark: #003c71;
    --color-light-sky: #28c2ff;
    --color-lighter-red: #ec5365;
    --color-lighter-green: #53ec62;
    --color-white: #ffffff;
    --color-black: #000;

    --background-color: #f8f7f7a2;
}

* {
    font-family: 'Noto Sans Thai', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    height: 100%;
}

#menu .p-sidebar {
    background: var(--primary) !important;
}

#menu .p-sidebar-close {
    color: var(--color-white);
}

.btn-primary-color {
    border: none;
    background: var(--primary) !important;
}

.color-primary {
    color: var(--primary);
}

.btn-color-primary {
    background-color: var(--primary);
    border: none;
}

#survey .p-dropdown-label {
    font-family: 'Noto Sans Thai', sans-serif !important;
}

.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-datatable .p-datatable-tbody > tr > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
}

.p-tooltip > .p-tooltip-text {
    font-size: 12px;
}

.p-checkbox .p-checkbox-box.p-highlight {
    background: var(--primary);
    border-color: var(--primary);
}

.p-checkbox .p-checkbox-box.p-highlight:hover {
    border-color: var(--primary);
}

.p-inputtext:enabled:hover {
    border-color: var(--primary);
}

.color-red {
    color: var(--color-lighter-red);
}

.bg-cl-edit {
    background-color: var(--primary);
    color: var(--color-white);
}

.bg-cl-delete {
    background-color: var(--color-lighter-red);
    color: var(--color-white);
}

.color-white {
    color: var(--color-white);
}

.bd-radius {
  border-radius: 6px;
}

.cursor-pointer {
    cursor: pointer;
}
