:root {
    --primary: #3066be;
    --primary-active-color: #60afff;
    --color-blue-dark: #003c71;
    --color-light-sky: #28c2ff;
    --color-lighter-red: #ec5365;
    --color-lighter-green: #53ec62;
    --color-white: #ffffff;
    --color-black: #000;

    --background-color: #f8f7f7a2;
}

* {
    font-family: 'Noto Sans Thai', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(248, 247, 247, 0.636);
    min-height: 100vh;
}

.btn-primary-color {
    border: none !important;
    background: var(--primary) !important;
}

.bg-primary-color {
    background: var(--primary) !important;
}

.btn-primary-color {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary-color:hover {
    background-color: var(--primary-active-color) !important;
}

.popover-search {
    max-width: 90% !important;
    width: 100% !important;
}

.popover-notification {
    max-width: 40% !important;
    width: 100% !important;
}

.w-max-ellipsis {
    max-width: 160px;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

th[sortable] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

th[sortable].desc:before,
th[sortable].asc:before {
    content: '';
    display: block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC')
        no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: -22px;
}

th[sortable].desc:before {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.bg-cl-edit {
    background-color: var(--primary);
    color: var(--color-white);
}

.bg-cl-delete {
    background-color: var(--color-lighter-red);
    color: var(--color-white);
}

.color-white {
    color: var(--color-white);
}

.color-primary {
    color: var(--primary);
}

.color-red {
    color: var(--color-lighter-red);
}

.bd-radius {
    border-radius: 6px;
}

.profile {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--primary);
    max-width: 100%;
    display: block;
    transition: 0.2s ease;

    .profile-image {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.formio-component-datagrid {
    overflow: unset !important;
}

.h-minus-navbar {
    height: calc(100vh - 66px);
}

.fs-7 {
    font-size: 0.875rem !important;
}

.fs-8 {
    font-size: 0.75rem !important;
}

.fs-9 {
    font-size: 0.625rem !important;
}

.fs-10 {
    font-size: 0.5rem !important;
}

.offcanvas {
    width: 40% !important;
    padding: 10px;
}

.row-side {
    padding: 10px 0 10px 0;
}

.call-side-detail {
    border-radius: 8px;
    margin-top: 2%;
}

.call-side-change-by {
    border-radius: 8px;
    margin-top: 4%;
}

.custom-link {
    color: #000 !important;
}

.page-item.active a.page-link.custom-link {
    color: #ffffff !important;
    background-color: var(--primary);
    border-color: var(--primary);
}

.nextBtn {
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}

.preBtn {
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}

.color-gray {
  color: #acabab;
}
