<div class="container">
    <div class="row g-3 p-3">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="fs-5 m-0">{{ title }}</h2>
                <div style="min-height: 36px"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card px-3 py-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="card-title fs-5">เปลี่ยนธีม</p>
                        </div>
                    </div>
                    <div class="color-palette p-4 d-flex justify-content-center">
                        <div class="color-pair" *ngFor="let pair of colorPairs">
                            <div
                                class="color"
                                [style.background]="getLinearGradient(pair.color1, pair.color2)"
                                (click)="changeTheme(pair.color1, pair.color2)"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
