.label {
    margin: 0;
}

.input-date {
    height: 100%;
}

.input-group-text {
    padding: 0;
    max-width: 38px !important;
    max-height: 38px !important;
}

.invalid-form {
    border-color: var(--color-lighter-red) !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 53, 13, 0.25);
}

::ng-deep {
    .mdc-icon-button {
        padding: 6px !important;
        max-width: 38px !important;
        max-height: 38px !important;
        margin: auto;
    }
}
