<div class="container">
    <div class="row p-4">
        <div class="col-8">
            <p class="form-label fs-2">{{ title | uppercase }}({{ data.mode | uppercase }})</p>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <a class="color-red cursor-pointer" (click)="onClickClose()">
                <fa-icon class="fs-2" [icon]="faXmark"></fa-icon>
            </a>
        </div>

        <div class="row">
            <div class="col-12">
                <form [formGroup]="announceData">
                    <div class="form-group px-3 py-2">
                        <label class="mb-2" for="announceTitle">Announce Title</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="announceTitle"
                            id="announceTitle"
                            name="announceTitle"
                            required
                            [ngClass]="{
                                'invalid-form':
                                    announceData.get('announceTitle')?.invalid &&
                                    (announceData.get('announceTitle')?.dirty || announceData.get('announceTitle')?.touched)
                            }"
                        />
                    </div>
                    <div class="form-group px-3 py-2">
                        <label class="mb-2" for="description">Description</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="description"
                            id="description"
                            name="description"
                            required
                            [ngClass]="{
                                'invalid-form':
                                    announceData.get('description')?.invalid &&
                                    (announceData.get('description')?.dirty || announceData.get('description')?.touched)
                            }"
                        />
                    </div>

                    <div class="form-group px-3 py-2">
                        <div class="row">
                            <div class="col-6">
                                <label for="startDate" class="label">Start Date</label>
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="input-group start-date">
                                            <input
                                                matInput
                                                [matDatepicker]="startDatePicker"
                                                formControlName="startDate"
                                                name="datetime"
                                                required
                                                class="input-date form-control"
                                            />
                                            <span class="input-group-text">
                                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                                <mat-datepicker #startDatePicker></mat-datepicker>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-auto">
                                        <ngb-timepicker
                                            class="starttime"
                                            [(ngModel)]="startTime"
                                            [seconds]="true"
                                            [ngModelOptions]="{ standalone: true }"
                                            [disabled]="data.mode === 'view'"
                                        ></ngb-timepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="endDate" class="label">End Date</label>
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="input-group end-date">
                                            <input
                                                matInput
                                                [matDatepicker]="endDatePicker"
                                                formControlName="endDate"
                                                name="datetime"
                                                required
                                                class="input-date form-control"
                                            />
                                            <span class="input-group-text">
                                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                                <mat-datepicker #endDatePicker></mat-datepicker>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <ngb-timepicker
                                            class="endtime"
                                            [(ngModel)]="endTime"
                                            [seconds]="true"
                                            [ngModelOptions]="{ standalone: true }"
                                            [disabled]="data.mode === 'view'"
                                        ></ngb-timepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <button
                            type="submit"
                            class="btn btn-primary-color text-white"
                            (click)="onSubmit()"
                            [disabled]="data.mode === 'view'"
                        >
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
