.d-bt-back {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}
.bt-back {
    width: 100px;
}

label:has(+ input:required):after {
    content: ' *';
    color: red;
}
