<div class="h-100">
<div class="bg-white rounded shadow w-100 h-100 d-flex flex-column p-4 overflow-auto">
      <div class="d-bt-back">
          <button type="button" (click)="prev()" class="btn btn-outline-danger">ย้อนกลับ</button>
          <div class="d-flex flex-row flex-nowrap">
              <button type="button" (click)="submit()" class="btn btn-primary rounded text-white">บันทึก</button>
          </div>
      </div>
      <div class="flex flex-column">
          <p class="mb-3 fs-5">ข้อมูลทั่วไป</p>
          <form class="row g-3 mg-3">
              <div class="col-md-6">
                  <label for="inputContactFirstName" class="form-label">ชื่อ</label>
                  <input
                  type="text"
                  class="form-control"
                  name="contactFirstName"
                  id="inputContactFirstName"
                  [(ngModel)]="contactFirstName"
              />
              </div>
              <div class="col-md-6">
                  <label for="inputcontactLastName" class="form-label">นามสกุล</label>
                  <input
                  type="text"
                  class="form-control"
                  name="contactLastName"
                  id="inputContactLastName"
                  [(ngModel)]="contactLastName"
              />
              </div>
              <div class="col-md-6">
                  <label for="inputContactIden" class="form-label">เลขประจำตัว</label>
                  <input
                  type="text"
                  class="form-control"
                  name="contactIden"
                  id="inputContactIden"
                  [(ngModel)]="contactIden"
              />
              </div>
              <div class="col-md-6">
                  <label for="inputContactOrg" class="form-label">ร้านค้า/บริษัท</label>
                  <input class="form-control" list="datalistOptions" id="inputContactOrg" name="contactOrg" [(ngModel)]="contactOrg" placeholder="" />
                  <datalist>
                      <option value="">กรุณาเลือกข้อมูล</option>
                      <option  *ngFor="let organization of organizations" [value]="organization.name"></option>
                    </datalist>

                  <!-- <select
                      class="form-select"
                      name="contactOrg"
                      id="inputContactOrg"
                      [(ngModel)]="contactOrg"
                  >
                  <option *ngFor="let organization of organizations" [value]="organization.organizationId">{{ organization.name }}</option>
                </select> -->
              </div>
              <div class="col-md-6">
                  <label for="inputContactType" class="form-label">ประเภทผู้ประกอบการ</label>
                  <input
                  type="text"
                  class="form-control"
                  name="contactType"
                  id="inputContactType"
                  [(ngModel)]="contactType"
              />
              </div>
              <div class="col-md-6">
                  <label for="inputContactEmail" class="form-label">อีเมล์</label>
                  <input
                  type="text"
                  class="form-control"
                  name="contactEmail"
                  id="inputContactEmail"
                  [(ngModel)]="contactEmail"
              />
              </div>
              <div class="col-md-6">
                  <label for="inputContactNum" class="form-label">เบอร์ติดต่อ</label>
                  <input
                  type="text"
                  class="form-control"
                  name="contactNum"
                  id="inputContactNum"
                  [(ngModel)]="contactNumber"
              />
              </div>
              <div class="col-md-6">
                  <label for="inputContactProvince" class="form-label">จังหวัด</label>
                  <input
                  type="text"
                  class="form-control"
                  name="contactProvince"
                  id="inputContactProvince"
                  [(ngModel)]="contactProvince"
              />
              </div>
              <div class="col-md-6">
                  <label for="inputContactProductType" class="form-label">ประเภทสินค้า</label>
                  <input
                  type="text"
                  class="form-control"
                  name="contactProductType"
                  id="inputContactProductType"
                  [(ngModel)]="contactProductType"
              />
              </div>
              <div class="col-md-6">
                  <label for="inputContactSource" class="form-label">แหล่งที่มา</label>
                  <input
                  type="text"
                  class="form-control"
                  name="contactSource"
                  id="inputContactSource"
                  [(ngModel)]="contactSource"
              />
              </div>
          </form>
      </div>
  </div>
</div>
