<div *ngIf="members?.length === 0" class="row g-2 p-4 justify-content-center align-items-center profile-list-container">
    <div class="col-auto m-0">
        <div class="profile-list">
            <p class="fs-7 m-auto">ไม่พบ Member</p>
        </div>
    </div>
</div>
<div *ngFor="let member of members" class="my-2">
    <app-profile
        [member]="member"
        [isShowToolbar]="isShowToolbar"
        [mode]="mode"
        [isBackground]="isBackground"
        (deleteUserId)="onDeletedMember($event)"
    ></app-profile>
</div>
