<div class="h-100">
    <div class="bg-white rounded shadow w-100 h-100">
        <div class="p-4 d-flex flex-column justify-content-between gap-4 w-100">
            <div class="d-flex justify-content-between mg-bt">
                <button type="button" (click)="prev()" class="btn btn-outline-danger">ย้อนกลับ</button>
                <button type="button" (click)="submit()" class="btn btn-primary rounded text-white">บันทึก</button>
            </div>
            <p class="fs-5 mg-bt-0">แก้ไขการโทร</p>
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">ชื่อ</label>
                    <input type="email" class="form-control" id="inputEmail4" />
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Status</label>
                    <select id="inputState" class="form-select">
                        <option disabled selected></option>
                        <option>ข้อมูลติดต่อ</option>
                        <option>รายชื่อติดต่อ</option>
                        <option>ร้านค้า/บริษัท</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Parent</label>
                    <select id="inputState" class="form-select">
                        <option disabled selected></option>
                        <option>Planned</option>
                        <option>Held</option>
                        <option>Not Held</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Parent</label>
                    <select id="inputState" class="form-select">
                        <option disabled selected></option>
                        <option>...</option>
                    </select>
                </div>
                <!-- <form class="row row-cols-sm-auto">
                    <div class="col-12">
                        <div class="dp-hidden position-absolute">
                            <div class="input-group">
                                <input
                                    name="datepicker"
                                    class="form-control"
                                    ngbDatepicker
                                    #datepicker="ngbDatepicker"
                                    [autoClose]="'outside'"
                                    (dateSelect)="onDateSelection($event)"
                                    [displayMonths]="2"
                                    [dayTemplate]="t"
                                    outsideDays="hidden"
                                    [startDate]="fromDate!"
                                    tabindex="-1"
                                />
                                <ng-template #t let-date let-focused="focused">
                                    <span
                                        class="custom-day"
                                        [class.focused]="focused"
                                        [class.range]="isRange(date)"
                                        [class.faded]="isHovered(date) || isInside(date)"
                                        (mouseenter)="hoveredDate = date"
                                        (mouseleave)="hoveredDate = null"
                                    >
                                        {{ date.day }}
                                    </span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="input-group">
                            <input
                                #dpFromDate
                                class="form-control"
                                placeholder="yyyy-mm-dd"
                                name="dpFromDate"
                                [value]="formatter.format(fromDate)"
                                (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                            />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button"></button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <input
                                #dpToDate
                                class="form-control"
                                placeholder="yyyy-mm-dd"
                                name="dpToDate"
                                [value]="formatter.format(toDate)"
                                (input)="toDate = validateInput(toDate, dpToDate.value)"
                            />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button"></button>
                        </div>
                    </div>
                </form> -->
                <!-- <hr />
                <pre>From date model: {{ fromDate | json }}</pre>
                <pre>To date model: {{ toDate | json }}</pre> -->

                <div class="col-6">
                    <label for="inputAddress2" class="form-label">ประเภทสาย</label>
                    <select id="inputState" class="form-select">
                        <option disabled selected></option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">ระยะเวลา</label>
                    <select id="inputState" class="form-select">
                        <option disabled selected></option>
                        <option>3 นาที</option>
                    </select>
                </div>
                <div class="col-12">
                    <label class="form-check-label" for="gridCheck"> รายละเอียด </label>
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
