.mg-bt {
  margin-bottom: 1%;
}
.mg-bt-0 {
  margin-bottom: 0%;
}
.mg-3 {
  margin: 0 3% 3% 3%;
}
.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.date-pik {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.date-time {
  margin-right: 7%;
}
::ng-deep .mat-mdc-text-field-wrapper {
  background-color: rgba(255, 255, 255, 0.15) !important;
  width: 120%;
}
