<div class="h-100">
    <div class="bg-white rounded shadow w-100 h-100">
        <div class="p-4 d-flex flex-column justify-content-between gap-4 w-100">
            <div class="d-flex justify-content-between mg-bt">
                <button type="button" (click)="prev()" class="btn btn-outline-danger">{{ 'common.back' | translate }}</button>
                <button type="button" (click)="submit()" class="btn btn-primary rounded text-white" disabled>{{ 'common.save' | translate }}</button>
            </div>
            <p class="fs-5 mg-bt-0">{{ 'contact.editCall' | translate }}</p>
            <form class="row g-3 mg-3">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">{{ 'contact.firstName' | translate }}</label>
                    <input type="email" class="form-control" id="inputEmail4" />
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">{{ 'common.status' | translate }}</label>
                    <select id="inputState" class="form-select">
                        <option disabled selected></option>
                        <option>{{ 'contact.contactInfo' | translate }}</option>
                        <option>{{ 'contact.contact' | translate }}</option>
                        <option>{{ 'contact.companyStore' | translate }}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">{{ 'contact.parent' | translate }}</label>
                    <select id="inputState" class="form-select">
                        <option disabled selected></option>
                        <option>{{ 'contact.planned' | translate }}</option>
                        <option>{{ 'contact.held' | translate }}</option>
                        <option>{{ 'contact.notHeld' | translate }}</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">{{ 'contact.parent' | translate }}</label>
                    <select id="inputState" class="form-select">
                        <option disabled selected></option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-6 date-pik">
                  <mat-form-field class="date-time">
                    <mat-label>{{ 'common.selectDate' | translate }}</mat-label>
                    <input matInput [matDatepicker]="picker1" [formControl]="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  <ngb-timepicker [(ngModel)]="time" [seconds]="seconds" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                </div>

                <div class="col-6 date-pik">
                  <mat-form-field class="date-time">
                    <mat-label>{{ 'common.selectDate' | translate }}</mat-label>
                    <input matInput [matDatepicker]="picker2" [formControl]="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                  <ngb-timepicker [(ngModel)]="time1"  [seconds]="seconds" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                </div>

                <div class="col-6">
                    <label for="inputAddress2" class="form-label">{{ 'contact.callType' | translate }}</label>
                    <select id="inputState" class="form-select">
                        <option disabled selected></option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">{{ 'contact.duration' | translate }}</label>
                    <select id="inputState" class="form-select">
                        <option disabled selected></option>
                        <option>3 {{ 'time.minutes' | translate }}</option>
                    </select>
                </div>
                <div class="col-12">
                    <label class="form-check-label" for="gridCheck">{{ 'contact.description' | translate }}</label>
                    <textarea class="form-control" [placeholder]="'common.pleaseEnter' | translate" id="floatingTextarea"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
