<div class="h-100 d-flex flex-column p-2 p-md-3 pb-5 overflow-scroll">
    <!-- Filter Section -->
    <div class="row g-2 g-md-3 g-lg-4 flex-grow-1 min-h-0">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2 d-flex flex-column mb-3 mb-md-0">
            <div class="bg-white rounded shadow p-2 p-md-3 p-lg-4 h-100">
                <ul class="list-unstyled mb-0">
                    <li *ngFor="let item of reportList" class="mb-1 mb-md-2">
                        <div
                            (click)="onSelectReport(item.nameTH)"
                            [ngClass]="{ active: selectedReportLink === item.link }"
                            class="d-flex align-items-center gap-2 text-decoration-none p-2 rounded item-report"
                        >
                            <p class="label-report mb-0">{{ language === 'th' ? item.nameTH : item.nameEN }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9 col-xl-10 d-flex flex-column min-h-0">
            <div class="bg-white rounded shadow p-2 p-md-3 p-lg-4 h-100 d-flex flex-column min-h-0">
                <div class="flex-grow-1 d-flex flex-column min-h-0" style="min-height: 400px">
                    <ng-container *ngIf="selectedReportLink !== null && selectedReportLink !== undefined; else noReportSelected">
                        <iframe
                            [src]="selectedReportLink | safeUrl"
                            width="100%"
                            height="100%"
                            class="rounded-xl border-0"
                            style="min-height: 400px"
                        ></iframe>
                    </ng-container>

                    <ng-template #noReportSelected>
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <p class="text-gray-600 text-center mb-0">{{ 'eacademy.report.select_report' | translate }}</p>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
