<div class="h-100">
    <div class="bg-white rounded shadow w-100 h-100 overflow-auto">
        <div class="p-4 d-flex flex-column justify-content-between flex-md-row flex-lg-row gap-4 align-items-center w-100">
            <p class="m-0 d-flex fs-5">Report</p>

            <div class="d-flex flex-nowrap flex-grow-1 gap-2 justify-content-end">
                <button
                    class="d-flex align-items-center gap-2 d-md-none d-lg-flex btn-primary-color rounded p-2 text-white"
                    (click)="onChannelByAgentReport()"
                >
                    สถิการให้บริการตามช่องทาง by Agent
                </button>
                <button
                    class="d-flex align-items-center gap-2 d-md-none d-lg-flex btn-primary-color rounded p-2 text-white"
                    (click)="onCaseTypeByAgentReport()"
                >
                    สถิการให้บริการตาม Case Type by Agent
                </button>
            </div>
        </div>
        <router-outlet></router-outlet>
        <!-- <div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 16%" scope="col">
                                <a>Username</a>
                            </th>
                            <th style="width: 9%" scope="col">
                                <a>Hotlin (Inbound) </a>
                            </th>
                            <th style="width: 9%" scope="col">
                                <a>Hotline (Outbound) </a>
                            </th>
                            <th style="width: 9%" scope="col">
                                <a>Email (Inbound)</a>
                            </th>
                            <th style="width: 9%" scope="col">
                                <a>Email (Outbound)</a>
                            </th>
                            <th style="width: 9%" scope="col">
                                <a>Mobile Unit </a>
                            </th>
                            <th style="width: 9%" scope="col">
                                <a>Live Chat</a>
                            </th>
                            <th style="width: 9%" scope="col">
                                <a>อื่นๆ</a>
                            </th>
                            <th style="width: 9%" scope="col">
                                <a>รวม</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="reportTable?.length > 0; else noDataTemplate">
                            <tr *ngFor="let data of reportTable; let i = index">
                                <td scope="row">{{ data.username }}</td>
                                <td scope="row">{{ data.HotIn }}</td>
                                <td scope="row">{{ data.HotOut }}</td>
                                <td scope="row">{{ data.MailIn }}</td>
                                <td scope="row">{{ data.MailOut }}</td>
                                <td scope="row">{{ data.Mobile }}</td>
                                <td scope="row">{{ data.LiveChat }}</td>
                                <td scope="row">{{ data.Other }}</td>
                                <td scope="row">{{ data.Total }}</td>
                            </tr>
                        </ng-container>
                        <ng-template #noDataTemplate>
                            <tr>
                                <td colspan="4" class="text-center">ไม่มีข้อมูล</td>
                            </tr>
                        </ng-template>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td scope="row">รวมทั้งหมด</td>
                            <td scope="row">{{ getTotal('HotIn') }}</td>
                            <td scope="row">{{ getTotal('HotOut') }}</td>
                            <td scope="row">{{ getTotal('MailIn') }}</td>
                            <td scope="row">{{ getTotal('MailOut') }}</td>
                            <td scope="row">{{ getTotal('Mobile') }}</td>
                            <td scope="row">{{ getTotal('LiveChat') }}</td>
                            <td scope="row">{{ getTotal('Other') }}</td>
                            <td scope="row">{{ getTotal('Total') }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <ul class="pagination cursor-pointer justify-content-center">
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link custom-link preBtn" (click)="pageChange(1)" aria-label="Previous">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link custom-link" (click)="pageChange(currentPage - 1)" aria-label="Previous">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
                <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage == page">
                    <a class="page-link custom-link" (click)="pageChange(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link custom-link" (click)="pageChange(currentPage + 1)" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link custom-link nextBtn" (click)="pageChange(totalPages)" aria-label="Next">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
                <li class="page-item ms-3">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="pageSize" (change)="pageSizeChange()">
                        <option class="dropdown-item" *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
                    </select>
                </li>
            </ul>
        </div> -->
    </div>
</div>
