<div class="container">
    <div class="row p-4">
        <div class="col-8">
            <p class="form-label fs-5">{{ title | uppercase }}({{ data.mode | uppercase }})</p>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <a class="color-red cursor-pointer" (click)="close()">
                <fa-icon class="fs-5" [icon]="faXmark"></fa-icon>
            </a>
        </div>

        <div class="row">
            <div class="col-12">
                <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
                    <div class="form-group px-3 py-2">
                        <label class="mb-2" for="groupTitle">Group Title</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="groupTitle"
                            id="groupTitle"
                            name="groupTitle"
                            required
                            [ngClass]="{
                                'invalid-form':
                                    groupForm.get('groupTitle')?.invalid &&
                                    (groupForm.get('groupTitle')?.dirty || groupForm.get('groupTitle')?.touched)
                            }"
                        />

                        <div
                            *ngIf="
                                groupForm.get('groupTitle')?.invalid &&
                                (groupForm.get('groupTitle')?.dirty || groupForm.get('groupTitle')?.touched)
                            "
                            class="fs-8 pt-2 text-danger"
                        >
                            Group Title is required
                        </div>
                    </div>
                    <div class="form-group px-3 py-2">
                        <label class="mb-2" for="description">Description</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="description"
                            id="description"
                            name="description"
                            required
                        />
                    </div>

                    <div class="form-group px-3 py-2">
                        <label for="members" class="form-label">Members</label>
                        <mat-select
                            class="form-control"
                            formControlName="members"
                            (selectionChange)="onMemberSelectionChange($event)"
                            name="members"
                            multiple
                        >
                            <mat-option class="bg-light" *ngFor="let member of members" [value]="member">
                                <app-profile [member]="member"></app-profile>
                            </mat-option>
                        </mat-select>

                        <div *ngIf="selectedMembers.length > 0" class="members my-2">
                            <div class="row">
                                <app-profile-list
                                    [members]="selectedMembers"
                                    [isAction]="true"
                                    (deleteUserId)="onDeletedMember($event)"
                                ></app-profile-list>
                            </div>
                        </div>
                    </div>

                    <div class="footer px-3 py-2">
                        <button type="submit" class="btn btn-primary-color text-white" [disabled]="data.mode === 'view'">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
