.profile {
    width: 300px;
    height: 300px;
    outline: 5px solid var(--primary);
}

.profile-image {
    height: 100%;
    width: auto;
}

.profile:hover {
    outline: 6px solid var(--primary-active-color);
}
