<div class="h-full">
    <div class="bg-white border-round-lg shadow-2 w-full pb-4 h-full">
        <div class="p-4 flex flex-column md:flex-row lg:flex-row gap-4 align-items-center">
            <p class="m-0 text-2xl flex-none">หลักสูตร E-learning</p>
            <div class="flex flex-grow-1 flex-nowrap w-full">
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-search color-primary font-semibold"></i>
                    <input
                        type="text"
                        pInputText
                        [(ngModel)]="value"
                        placeholder="ค้นหา..."
                        ngClass="font-thai w-full border-noround-right"
                    />
                </span>
                <p-dropdown
                    id="course"
                    [options]="filterOption"
                    [(ngModel)]="selectedFilter"
                    optionLabel="name"
                    [showClear]="false"
                    styleClass="h-full border-noround-left"
                ></p-dropdown>
            </div>
            <p-button icon="pi pi-plus" class="flex-none hidden md:flex lg:hidden" styleClass="font-thai btn-color-primary"></p-button>
        </div>
        <div>
            <p-table
                [value]="course"
                [(selection)]="selectedCourse"
                dataKey="code"
                [tableStyle]="{ 'min-width': '50rem' }"
                styleClass="p-datatable-sm"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="width: 40%">ชื่อหลักสูตร</th>
                        <th style="width: 10%">เลขที่อ้างอิง (ระบบ Drive)</th>
                        <th style="width: 16%">วันที่เปิดอบรม</th>
                        <th style="width: 16%">วันที่ปิดอบรม</th>
                        <!-- <th style="width: 20%">วันที่เปิดรับสมัคร</th> -->
                        <!-- <th style="width: 20%">วันที่ปิดรับสมัคร</th> -->
                        <th style="width: 10%">จังหวัด</th>
                        <th>จัดการ</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-course let-i="rowIndex">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="course"></p-tableCheckbox>
                        </td>
                        <td (click)="showSideBar(i)" class="sidebar">{{ course.name }}</td>
                        <td>{{ course.referenceNumber }}</td>
                        <td>{{ course.trainingStartDate | date : 'dd/MM/yyyy  HH:mm' }}</td>
                        <td>{{ course.trainingEndDate | date : 'dd/MM/yyyy  HH:mm' }}</td>
                        <!-- <td>{{ course.startDate }}</td> -->
                        <!-- <td>{{ course.endDate }}</td> -->
                        <td>{{ course.province }}</td>
                        <td class="text-center" type="button" (click)="showSideBar(i)"><fa-icon [icon]="faPenToSquare"></fa-icon></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No data found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <p-paginator
                #paginator
                [rows]="pageSize"
                [totalRecords]="totalItems"
                [rowsPerPageOptions]="pageSizeOptions"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {{ firstItem }} to {{ lastItem }} of {{ totalItems }} entries"
                (onPageChange)="pageChange($event)"
            ></p-paginator>
            <p-sidebar [(visible)]="displaySideBar" position="right" [baseZIndex]="10000">
                <div class="flex flex-row-reverse flex-wrap">
                    <div class="p-2" type="button">
                        <fa-icon [icon]="faArrowRight" (click)="changeSideBar('right', $event)" size="lg"></fa-icon>
                    </div>
                    <div class="p-2" type="button">
                        <fa-icon [icon]="faArrowLeft" (click)="changeSideBar('left', $event)" size="lg"></fa-icon>
                    </div>
                </div>
                <div class="p-3">
                    <div>
                        <h4>ชื่อหลักสูตร</h4>
                        <h5 class="font-b">{{ detailItem?.name || emptyItem }}</h5>
                    </div>
                    <div class="grid pt-4">
                        <div class="col">
                            <div>เลขที่อ้างอิง (ระบบ Drive)</div>
                            <div class="font-b">{{ detailItem?.referenceNumber || emptyItem }}</div>
                        </div>
                        <div class="col">
                            <div>จำนวนรับสมัคร</div>
                            <div class="font-b">{{ detailItem?.maxApplicants || emptyItem }}</div>
                        </div>
                    </div>
                    <div class="grid pt-2">
                        <div class="col">
                            <div>วันที่เปิดรับสมัคร</div>
                            <div class="font-b">{{ (detailItem?.startDate | date : 'dd/MM/yyyy  HH:mm') || emptyItem }}</div>
                        </div>
                        <div class="col">
                            <div>วันที่ปิดรับสมัคร</div>
                            <div class="font-b">{{ (detailItem?.endDate | date : 'dd/MM/yyyy  HH:mm') || emptyItem }}</div>
                        </div>
                    </div>
                    <div class="grid pt-2">
                        <div class="col">
                            <div>วันที่เปิดอบรม</div>
                            <div class="font-b">{{ (detailItem?.trainingStartDate | date : 'dd/MM/yyyy  HH:mm') || emptyItem }}</div>
                        </div>
                        <div class="col">
                            <div>วันที่ปิดอบรม</div>
                            <div class="font-b">{{ (detailItem?.trainingEndDate | date : 'dd/MM/yyyy  HH:mm') || emptyItem }}</div>
                        </div>
                    </div>
                    <div class="grid pt-2">
                        <div class="col">
                            <div>จังหวัด</div>
                            <div class="font-b">{{ detailItem?.province || emptyItem }}</div>
                        </div>
                        <div class="col">
                            <div>สถานที่</div>
                            <div class="font-b">{{ detailItem?.location || emptyItem }}</div>
                        </div>
                    </div>
                    <div class="grid pt-2">
                        <div class="col">
                            <div>ค่าใช้จ่าย</div>
                            <div class="font-b">{{ detailItem?.cost || emptyItem }}</div>
                        </div>
                    </div>
                    <div class="grid pt-2">
                        <div class="col">
                            <div>รายละเอียด</div>
                            <div class="font-b">{{ detailItem?.description || emptyItem }}</div>
                        </div>
                    </div>
                </div>
            </p-sidebar>
        </div>
    </div>
</div>
