.sidebar {
    cursor: pointer; /* เปลี่ยน cursor เป็น pointer เมื่อชี้ไปที่ cell */
}
.table td.sidebar {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.offcanvas {
    width: 700px !important;
}

.font-b {
    color: rgb(0, 0, 0);
}

.custom-link {
    color: rgb(0, 0, 0);
}

.custom-link:hover {
    color: #666666;
}

.page-item.active a.page-link.custom-link {
    color: #ffffff;
    background-color: #666666;
    border-color: #666666;
}
.nextBtn {
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}
.preBtn {
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}
.div .div-active {
    background-color: var(--primary-active-color);
    color: white;
    border-radius: 0.5rem;
}
// @import '~bootstrap/dist/css/bootstrap.min.css';
