<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-end gap-2">
                <span class="fs-6 color-primary cursor-pointer" (click)="onClickEditEvent(event)">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </span>
                <span class="fs-6 color-red cursor-pointer" (click)="onClickDeleteEvent(event)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </span>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-2">
            <div class="col-md-2 d-flex justify-content-center">
                <span class="fs-5 color-primary"><fa-icon [icon]="faCalendar"></fa-icon></span>
            </div>
            <div class="col-md-10 d-flex align-items-center">
                <p class="card-title fs-5">{{ event?.title }}</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-2">
            <div class="col-md-2 d-flex justify-content-center"></div>
            <div class="col-md-10 d-flex align-items-center">
                <p class="card-text fs-7">{{ event?.datetime | date : 'medium' }}</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-2">
            <div class="col-md-2 d-flex justify-content-center">
                <span class="fs-5 color-primary"><fa-icon [icon]="faLocation"></fa-icon></span>
            </div>
            <div class="col-md-10 d-flex align-items-center">
                <p class="card-text fs-6">{{ event?.location }}</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-2">
            <div class="col-md-2 d-flex justify-content-center">
                <span class="fs-5 color-primary"><fa-icon [icon]="faList"></fa-icon></span>
            </div>
            <div class="col-md-10 d-flex align-items-center">
                <p class="card-text fs-6" [innerText]="event?.description"></p>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-2">
            <div class="col-md-2 d-flex justify-content-center">
                <span class="fs-5 color-primary"><fa-icon [icon]="faUserGroup"></fa-icon></span>
            </div>
            <div class="col-md-10 d-flex align-items-center">
                <p class="card-text fs-6">จำนวนผู้เข้าร่วม {{ event?.members?.length }} คน</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
            <div *ngFor="let member of event?.members" class="col-md-12 mb-1">
                <div class="d-flex align-items-center justify-content-between gap-3 p-2 px-5 bg-light">
                    <app-profile-list [member]="member"></app-profile-list>
                </div>
            </div>
        </div>
    </div>
</div>
