.card-text,
.card-title {
    cursor: default;
}

p {
    margin: 0;
}

::ng-deep {
    .card-text {
        img {
            width: 100% !important;
            height: auto !important;
        }
    }
}
