<!-- calendar-card.component.html -->

<div class="card-body">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 d-flex justify-content-end gap-2">
            <span class="fs-6 color-primary cursor-pointer">
                <fa-icon [icon]="faEdit"></fa-icon>
            </span>
            <span class="fs-6 color-red cursor-pointer">
                <fa-icon [icon]="faTrash"></fa-icon>
            </span>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center my-2">
        <div class="col-sm-3 col-md-2 d-flex justify-content-center">
            <span class="fs-5 color-primary"><fa-icon [icon]="faCalendar"></fa-icon></span>
        </div>
        <div class="col-sm-9 col-md-10">
            <p class="card-title fs-5">{{ event?.title }}</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center my-2">
        <div class="col-sm-3 col-md-2 d-flex justify-content-center"></div>
        <div class="col-sm-9 col-md-10">
            <p class="card-text fs-7">{{ event?.datetime | date : 'medium' }}</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center my-2">
        <div class="col-sm-3 col-md-2 d-flex justify-content-center">
            <span class="fs-5 color-primary"><fa-icon [icon]="faLocation"></fa-icon></span>
        </div>
        <div class="col-sm-9 col-md-10">
            <p class="card-text fs-6">{{ event?.location }}</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center my-2">
        <div class="col-sm-3 col-md-2 d-flex justify-content-center">
            <span class="fs-5 color-primary"><fa-icon [icon]="faList"></fa-icon></span>
        </div>
        <div class="col-sm-9 col-md-10">
            <p class="card-text fs-6">{{ event?.description }}</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center my-2">
        <div class="col-sm-3 col-md-2 d-flex justify-content-center">
            <span class="fs-5 color-primary"><fa-icon [icon]="faUserGroup"></fa-icon></span>
        </div>
        <div class="col-sm-9 col-md-10">
            <p class="card-text fs-6">จำนวนผู้เข้าร่วม {{ event?.members?.length }} คน</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-3 col-md-2 d-flex justify-content-center"></div>
        <div class="col-sm-9 col-md-10">
            <ul class="list-unstyled m-0">
                <li *ngFor="let member of event?.members" class="d-flex align-items-center gap-3 my-1">
                    <div class="profile">
                        <img
                            class="profile-image img-fluid"
                            [src]="member.profile"
                            [alt]="member.username"
                            (error)="handleProfileError($event)"
                        />
                    </div>
                    <div class="user-info">
                        <p class="card-text fs-7">{{ member?.username }}</p>
                        <p class="card-text fs-8">{{ member?.role }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
