<div *ngIf="event" class="position-relative" [class.card]="isBorder">
    <div
        *ngIf="isNewCard(event.createdAt)"
        class="position-absolute"
        style="width: 50px; height: auto; top: 0; left: 0"
        [style.scale]="isBorder ? '1.2' : '1'"
    >
        <img class="w-100 h-auto" src="assets/qcrm-ui/image/card/pngtree-new-red-ribbon-tag-mark-png-image_4685171.png" alt="" />
    </div>
    <div class="card-body">
        <div class="row d-flex justify-content-center my-2">
            <div class="col-md-2 d-flex justify-content-center">
                <span class="fs-5 color-primary"><fa-icon [icon]="faCalendar"></fa-icon></span>
            </div>
            <div class="col-md-10 d-flex align-items-center">
                <p class="card-title fs-5">{{ event.title }}</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-2">
            <div class="col-md-2 d-flex justify-content-center">
                <span class="fs-5 color-primary"><fa-icon [icon]="faList"></fa-icon></span>
            </div>
            <div class="col-md-10 d-flex align-items-center over">
                <p class="card-text fs-6 overflow-auto" [innerHtml]="event.description"></p>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-2" *ngIf="event.attachments.length > 0">
            <div class="col-md-2 d-flex justify-content-center">
                <span class="fs-5 color-primary"><fa-icon [icon]="faPaperclip"></fa-icon></span>
            </div>
            <div class="col-md-10 d-flex flex-column">
                <p class="card-text fs-6">
                    {{ 'component.calendar-card.attachments' | translate }}
                    {{ event.attachments.length }} {{ 'component.calendar-card.fileCount' | translate }}
                </p>
                <div *ngIf="event.attachments">
                    <div class="col-md-12">
                        <app-attachments-list
                            [attachments]="event!.attachments"
                            [isShowToolbar]="true"
                            [mode]="'view'"
                        ></app-attachments-list>
                    </div>
                </div>
                <div *ngIf="!event.attachments">
                    <p class="card-text fs-6">
                        {{ 'component.calendar-card.noAttachments' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
