<table mat-table [dataSource]="newDataSouce" class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef class="fs-6 fw-bolder">{{ 'table.' + title + '.' + column | translate }}</th>
        <td mat-cell *matCellDef="let element">
            <ng-container [ngSwitch]="true">
                <ng-container *ngSwitchCase="includesProfile.includes(column)">
                    <div class="col-auto">
                        <div class="position-relative m-auto">
                            <div class="profile-container">
                                <img class="profile-image" [src]="element[column]" (error)="handleProfileError($event)" #imageElement />
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="includesStatus.includes(column)">
                    <div class="dot">
                        <div
                            class="dot-inner dot-status"
                            [ngbTooltip]="getStatusOnline(element.userId) ? 'Online' : 'Offline'"
                            [class.dot-status-online]="getStatusOnline(element.userId)"
                        ></div>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="includesDate.includes(column)">
                    <p class="label">{{ element[column] | date : 'dd/MM/yyyy HH:mm:ss' }}</p>
                </ng-container>

                <ng-container *ngSwitchCase="includesRole.includes(column)">
                    <p class="label">{{ element[column].roleTitle }}</p>
                </ng-container>

                <ng-container *ngSwitchCase="includesColor.includes(column)">
                    <p class="label" [style.color]="element[column]">{{ element[column] }}</p>
                </ng-container>

                <ng-container *ngSwitchCase="includesScript.includes(column)">
                    <p class="label" [innerHTML]="formatScript(element[column])"></p>
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <p class="label">{{ element[column] }}</p>
                </ng-container>
            </ng-container>
        </td>
    </ng-container>

    <ng-container *ngIf="isShowTool" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="fs-6 fw-bolder">{{ 'table.Actions' | translate }}</th>
        <td mat-cell *matCellDef="let element">
            <button class="btn color-primary mx-1" (click)="onClickView(element)">
                <fa-icon [icon]="faEye"></fa-icon>
            </button>
            <button *ngIf="isAction" class="btn color-primary mx-1" (click)="onClickEdit(element)">
                <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button *ngIf="isAction" class="btn color-red mx-1" (click)="onClickDelete(element)">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="isShowTool ? displayedColumns.concat('actions') : displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: isShowTool ? displayedColumns.concat('actions') : displayedColumns"></tr>
</table>

<ul class="pagination cursor-pointer justify-content-center m-0 pt-3">
    <li class="page-item" [class.disabled]="currentPage == 1">
        <a class="page-link custom-link preBtn" (click)="pageChange(1)" aria-label="Previous">
            <i class="fa-solid fa-angles-left"></i>
        </a>
    </li>
    <li class="page-item" [class.disabled]="currentPage == 1">
        <a class="page-link custom-link" (click)="pageChange(currentPage - 1)" aria-label="Previous">
            <i class="fa-solid fa-angle-left"></i>
        </a>
    </li>
    <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage == page">
        <a class="page-link custom-link" (click)="pageChange(page)">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage == totalPages">
        <a class="page-link custom-link" (click)="pageChange(currentPage + 1)" aria-label="Next">
            <i class="fa-solid fa-angle-right"></i>
        </a>
    </li>
    <li class="page-item" [class.disabled]="currentPage == totalPages">
        <a class="page-link custom-link nextBtn" (click)="pageChange(totalPages)" aria-label="Next">
            <i class="fa-solid fa-angles-right"></i>
        </a>
    </li>
    <li class="page-item ms-3">
        <select class="form-select" aria-label="select page size" [(ngModel)]="pageSize" (change)="pageSizeChange()">
            <option class="dropdown-item" *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
        </select>
    </li>
</ul>
