<div class="table-card">
    <div class="table-scroll-container">
        <table class="table table-hover custom-table mb-0 table-fixed-header">
            <thead>
                <tr>
                    <th *ngFor="let column of displayedColumns" scope="col">
                        {{ 'table.' + title + '.' + column | translate }}
                    </th>
                    <th *ngIf="isShowTool" scope="col" class="text-center">{{ 'common.actions' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="paginatedData.length > 0; else noDataTemplate">
                    <tr *ngFor="let element of paginatedData">
                        <td *ngFor="let column of displayedColumns" [ngClass]="getCellClass(column)">
                            <ng-container [ngSwitch]="true">
                                <!-- Profile -->
                                <ng-container *ngSwitchCase="includesProfile.includes(column)">
                                    <div class="profile-container">
                                        <img class="profile-image" [src]="element[column]" (error)="handleProfileError($event)" />
                                    </div>
                                </ng-container>

                                <!-- Online Status Dot -->
                                <ng-container *ngSwitchCase="includesStatus.includes(column)">
                                    <div class="dot">
                                        <div
                                            class="dot-inner dot-status"
                                            [ngbTooltip]="getStatusOnline(element.userId) ? 'Online' : 'Offline'"
                                            container="body"
                                            [class.dot-status-online]="getStatusOnline(element.userId)"
                                        ></div>
                                    </div>
                                </ng-container>

                                <!-- Status Name Badge -->
                                <ng-container *ngSwitchCase="includesStatusName.includes(column)">
                                    <span
                                        *ngIf="element[column]; else noData"
                                        class="status-badge"
                                        [style.background-color]="statusService.getStatusBgColor(element[column])"
                                    >
                                        <i [class]="statusService.getStatusIcon(element[column])" class="me-1"></i>
                                        {{ element[column] }}
                                    </span>
                                    <ng-template #noData>-</ng-template>
                                </ng-container>

                                <!-- Channel Badge -->
                                <ng-container *ngSwitchCase="includesChannel.includes(column)">
                                    <span
                                        *ngIf="element[column]; else noData"
                                        class="channel-badge"
                                        [style.background-color]="statusService.getChannelBgColor(element[column])"
                                    >
                                        {{ element[column] }}
                                    </span>
                                    <ng-template #noData>-</ng-template>
                                </ng-container>

                                <!-- Phone Number -->
                                <ng-container *ngSwitchCase="includesPhone.includes(column)">
                                    <span *ngIf="element[column]; else noData" class="phone-text">
                                        <i class="fa-solid fa-phone me-1"></i>{{ element[column] }}
                                    </span>
                                    <ng-template #noData>-</ng-template>
                                </ng-container>

                                <!-- Date -->
                                <ng-container *ngSwitchCase="includesDate.includes(column)">
                                    {{ element[column] | date : 'dd/MM/yyyy HH:mm' }}
                                </ng-container>

                                <!-- Role -->
                                <ng-container *ngSwitchCase="includesRole.includes(column)">
                                    {{ element[column]?.roleTitle || '-' }}
                                </ng-container>

                                <!-- Color -->
                                <ng-container *ngSwitchCase="includesColor.includes(column)">
                                    <span class="color-indicator" [style.background-color]="element[column]"></span>
                                    <span [style.color]="element[column]">{{ element[column] }}</span>
                                </ng-container>

                                <!-- Script -->
                                <ng-container *ngSwitchCase="includesScript.includes(column)">
                                    <span class="script-text" [innerHTML]="formatScript(element[column])"></span>
                                </ng-container>

                                <!-- Description (with tooltip) -->
                                <ng-container *ngSwitchCase="includesDescription.includes(column)">
                                    <span
                                        [ngbTooltip]="element[column]"
                                        [disableTooltip]="!element[column]"
                                        container="body"
                                        placement="top"
                                    >
                                        {{ element[column] || '-' }}
                                    </span>
                                </ng-container>

                                <!-- Call Status Badge -->
                                <ng-container *ngSwitchCase="includesCallStatus.includes(column)">
                                    <span *ngIf="element[column]" class="call-status-badge">{{ element[column] }}</span>
                                    <span *ngIf="!element[column]">-</span>
                                </ng-container>

                                <!-- Truncate Text -->
                                <ng-container *ngSwitchCase="includesTruncate.includes(column)">
                                    {{ element[column] || '-' }}
                                </ng-container>

                                <!-- Default -->
                                <ng-container *ngSwitchDefault>
                                    {{ element[column] || '-' }}
                                </ng-container>
                            </ng-container>
                        </td>
                        <td *ngIf="isShowTool" class="text-center">
                            <div class="action-buttons">
                                <button
                                    class="btn btn-action btn-outline-primary"
                                    (click)="onClickView(element)"
                                    [ngbTooltip]="'common.view' | translate"
                                    container="body"
                                    placement="top"
                                >
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                                <button
                                    *ngIf="isAction"
                                    class="btn btn-action btn-outline-warning"
                                    (click)="onClickEdit(element)"
                                    [ngbTooltip]="'common.edit' | translate"
                                    container="body"
                                    placement="top"
                                >
                                    <fa-icon [icon]="faEdit"></fa-icon>
                                </button>
                                <button
                                    *ngIf="isAction"
                                    class="btn btn-action btn-outline-danger"
                                    (click)="onClickDelete(element)"
                                    [ngbTooltip]="'common.delete' | translate"
                                    container="body"
                                    placement="top"
                                >
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <ng-template #noDataTemplate>
                    <tr>
                        <td [attr.colspan]="isShowTool ? displayedColumns.length + 1 : displayedColumns.length" class="text-center py-5">
                            <div class="empty-state">
                                <i class="fa-solid fa-inbox fa-3x text-muted mb-3"></i>
                                <p class="text-muted mb-0">{{ 'common.dataNotFound' | translate }}</p>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>

<nav class="d-flex justify-content-center mt-4">
    <ul class="pagination pagination-custom mb-0">
        <li class="page-item" [class.disabled]="currentPage == 1">
            <a class="page-link" (click)="pageChange(1)" aria-label="First">
                <i class="fa-solid fa-angles-left"></i>
            </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage == 1">
            <a class="page-link" (click)="pageChange(currentPage - 1)" aria-label="Previous">
                <i class="fa-solid fa-angle-left"></i>
            </a>
        </li>
        <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage == page">
            <a class="page-link" (click)="pageChange(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage == totalPages">
            <a class="page-link" (click)="pageChange(currentPage + 1)" aria-label="Next">
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage == totalPages">
            <a class="page-link" (click)="pageChange(totalPages)" aria-label="Last">
                <i class="fa-solid fa-angles-right"></i>
            </a>
        </li>
        <li class="page-item ms-3">
            <select class="form-select form-select-sm page-size-select" [(ngModel)]="pageSize" (change)="pageSizeChange()">
                <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
            </select>
        </li>
    </ul>
</nav>
