<div class="h-full">
    <div class="bg-white border-round-lg shadow-2 w-full pb-4 h-full">
        <div class="p-4 flex flex-column md:flex-row lg:flex-row gap-4 align-items-center">
            <p class="m-0 text-2xl flex-none">{{ title }}</p>
            <div class="flex flex-grow-1 flex-nowrap w-full">
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-search color-primary font-semibold"></i>
                    <input
                        type="text"
                        pInputText
                        [(ngModel)]="value"
                        placeholder="ค้นหา..."
                        ngClass="font-thai w-full border-noround-right"
                    />
                </span>
                <p-dropdown
                    id="contact"
                    [options]="filterOption"
                    [(ngModel)]="selectedFilter"
                    optionLabel="name"
                    [showClear]="false"
                    styleClass="h-full border-noround-left"
                ></p-dropdown>
            </div>
            <p-button icon="pi pi-plus" class="flex-none hidden md:flex lg:hidden" styleClass="font-thai btn-color-primary"></p-button>
        </div>
        <div>
            <p-table
                [value]="item"
                [(selection)]="selectedSurvey"
                dataKey="code"
                [tableStyle]="{ 'min-width': '50rem' }"
                styleClass="p-datatable-sm"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th class="text-center" style="width: 20%">ชื่อ-นามสกุล</th>
                        <th class="text-center" style="width: 20%">เลขบัตรประชาชน</th>
                        <th class="text-center" style="width: 15%">ประเภทบุคคล</th>
                        <th class="text-center" style="width: 15%">จังหวัด</th>
                        <th class="text-center" style="width: 15%">ภาค</th>
                        <th class="text-center">จัดการ</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td class="text-center">{{ item.prefixName }} {{ item.firstName }} {{ item.lastName }}</td>
                        <td class="text-center">{{ item.identification || 'ว่าง' }}</td>
                        <td class="text-center">{{ item.contactType || 'ว่าง' }}</td>
                        <td class="text-center">{{ item.province || 'ว่าง' }}</td>
                        <td class="text-center">{{ item.region || 'ว่าง' }}</td>
                        <td class="text-center">
                            <fa-icon class="m-1" [icon]="faPenToSquare"> </fa-icon> <fa-icon class="m-1" [icon]="faTrash"></fa-icon>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No data found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <p-paginator
                [rows]="pageSize"
                [totalRecords]="totalPage"
                [rowsPerPageOptions]="pageSizeOptions"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {{ firstItem }} to {{ lastItem }} of {{ totalPage }} entries"
                (onPageChange)="pageChange($event)"
            ></p-paginator>
        </div>
    </div>
</div>
