<div class="h-100">
    <div class="bg-white rounded shadow w-100 h-100 overflow-auto p-4">
        <div class="p-4 d-flex flex-column justify-content-between flex-md-row flex-lg-row gap-4 align-items-center w-100">
            <p class="m-0 d-flex fs-5">{{ 'menu.sidebar.contacts' | translate }}</p>
            <div class="d-flex flex-nowrap flex-grow-1">
                <div class="input-group">
                    <span class="input-group-text bg-white border border-end-0 color-primary" id="basic-addon1">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input
                        id="table-complete-search"
                        type="text"
                        class="form-control border border-start-0 shadow-none"
                        name="search"
                        [(ngModel)]="valueSearch"
                        [placeholder]="'common.search' | translate"
                        aria-describedby="basic-addon1"
                        style="width: 70%"
                        (change)="search()"
                    />
                    <button class="form-control btn-primary-color text-white shadow-none align-items-center" (click)="search()">
                        {{ 'common.search' | translate }}
                    </button>
                </div>
            </div>
            <div *ngIf="checkRole()">
                <button
                    class="d-flex align-items-center gap-2 d-md-none d-lg-flex btn-primary-color rounded p-2 text-white"
                    (click)="contactsManage()"
                >
                    <i class="fa-solid fa-plus"></i>
                    {{ 'contact.newContact' | translate }}
                </button>
                <div class="d-none d-md-flex d-lg-none p-2 btn-primary-color rounded text-white" (click)="contactsManage()">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
        <div>
            <!-- Card Grid Layout -->
            <div class="row g-3 m-4">
                <ng-container *ngIf="contacts?.length > 0; else noDataTemplate">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let contact of contacts">
                        <app-card
                            [data]="contact"
                            [showActions]="checkRole()"
                            (onEdit)="edit($event)"
                            (onDelete)="deletecontacts($event.contactId)">
                        </app-card>
                    </div>
                </ng-container>
                <ng-template #noDataTemplate>
                    <div class="col-12 text-center py-5 text-muted">
                        {{ 'common.dataNotFound' | translate }}
                    </div>
                </ng-template>
            </div>
            <ul class="pagination cursor-pointer justify-content-center">
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link custom-link preBtn" (click)="pageChange(1)" aria-label="Previous">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link custom-link" (click)="pageChange(currentPage - 1)" aria-label="Previous">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
                <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage == page">
                    <a class="page-link custom-link" (click)="pageChange(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link custom-link" (click)="pageChange(currentPage + 1)" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link custom-link nextBtn" (click)="pageChange(totalPages)" aria-label="Next">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
                <li class="page-item ms-3">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="pageSize" (change)="pageSizeChange()">
                        <option class="dropdown-item" *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</div>
