<div class="calendar-container">
    <div class="calendar-header">
        <button class="calendar-button fs-3" (click)="previousMonth()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <p class="fs-3 cursor-default">{{ 'month.' + currentMonth | translate }} {{ currentYear }}</p>
        <button class="calendar-button fs-3" (click)="nextMonth()">
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
    <div class="days-header">
        <div class="day-name">
            {{ 'component.calendar-preview.sun' | translate }}
        </div>
        <div class="day-name">
            {{ 'component.calendar-preview.mon' | translate }}
        </div>
        <div class="day-name">
            {{ 'component.calendar-preview.tue' | translate }}
        </div>
        <div class="day-name">
            {{ 'component.calendar-preview.wed' | translate }}
        </div>
        <div class="day-name">
            {{ 'component.calendar-preview.thu' | translate }}
        </div>
        <div class="day-name">
            {{ 'component.calendar-preview.fri' | translate }}
        </div>
        <div class="day-name">
            {{ 'component.calendar-preview.sat' | translate }}
        </div>
    </div>
    <div *ngFor="let week of weeks" class="week">
        <div *ngFor="let day of week" class="day-container cursor-pointer">
            <div class="day-wrapper">
                <div
                    class="day-number"
                    [ngClass]="{ selected: isSelected(day.date) }"
                    [ngbPopover]="popoverContent"
                    (click)="onClickSelectDate(day.date)"
                >
                    {{ day.number }}
                </div>
                <div *ngIf="hasEvent(day.date) > 0" class="dot-container">
                    <div
                        *ngFor="let dot of [].constructor(hasEvent(day.date)); let i = index"
                        class="dot"
                        [style.backgroundColor]="getDotColor(i, day.date)"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #popoverContent>
    <app-pop-overs-event
        [events]="onSelectEvent"
        (addEvent)="onClickAddEvent()"
        (viewEvent)="onClickViewEvent()"
        (editEvent)="onClickEditEvent()"
        (deleteEvent)="onClickDeleteEvent()"
        (viewMember)="onClickViewMember($event)"
        (editMember)="onClickEditMember($event)"
        (deleteMember)="onClickDeletedMember($event)"
    ></app-pop-overs-event>
</ng-template>
