<div class="h-100">
    <div class="bg-white rounded shadow w-100 h-100">
        <div class="p-4 d-flex flex-column justify-content-between flex-md-row flex-lg-row gap-4 align-items-center w-100">
            <p class="m-0 d-flex fs-5">แบบฟอร์มสำรวจ</p>
            <div class="d-flex flex-nowrap flex-grow-1">
                <div class="input-group">
                    <span class="input-group-text bg-white border border-end-0 color-primary" id="basic-addon1">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input
                        id="table-complete-search"
                        type="text"
                        class="form-control border border-start-0 shadow-none"
                        name="search"
                        [(ngModel)]="valueSearch"
                        placeholder="ค้นหา..."
                        aria-describedby="basic-addon1"
                        style="width: 70%"
                    />
                    <select class="form-select shadow-none" aria-label="Default select example" [(ngModel)]="selectedFilter">
                        <option *ngFor="let op of filterOption" [value]="op.code">
                            {{ op.name }}
                        </option>
                    </select>
                </div>
            </div>
            <button
                class="d-flex align-items-center gap-2 d-md-none d-lg-flex btn-primary-color rounded p-2 text-white"
                (click)="formManage()"
            >
                <i class="fa-solid fa-plus"></i>
                สร้างแบบสำรวจ
            </button>
            <div class="d-none d-md-flex d-lg-none p-2 btn-primary-color rounded text-white" (click)="formManage()">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div *ngIf="checkedValues.length != 0">
            <div class="d-flex p-3 bg-body-tertiary">
                <button
                    class="d-flex align-items-center me-2 d-md-none d-lg-flex rounded p-2 text-white btn btn-warning"
                    (click)="exportExcel()"
                    placement="top"
                    ngbTooltip="Export to Excel"
                >
                    <i class="fa-solid fa-file"></i>
                </button>
                <!--<button
                  type="button"
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  (click)="editSurveys()"
                  class="p-button-warning mr-2"
                  pTooltip="Edit"
                  tooltipPosition="bottom"
              ></button>-->
                <button
                    class="d-flex align-items-center d-md-none d-lg-flex rounded p-2 text-white btn btn-danger"
                    (click)="deleteSelectForm()"
                    placement="top"
                    ngbTooltip="ลบ"
                >
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
        <div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
                            </th>
                            <th style="width: 70%" scope="col">
                                <a (click)="sort('name')">แบบฟอร์มสำรวจ </a><i *ngIf="sortId == 'name'" class="{{ sortIcon }}"></i>
                            </th>
                            <th style="width: 15%" scope="col">
                                <a (click)="sort('createdAt')">วันที่บันทึก</a><i *ngIf="sortId == 'save_date'" class="{{ sortIcon }}"></i>
                            </th>
                            <th style="width: 15%" scope="col">
                                <a (click)="sort('createdById')">บันทึกโดย</a><i *ngIf="sortId == 'createBy'" class="{{ sortIcon }}"></i>
                            </th>
                            <th scope="col"><a>จัดการ</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="(surveyForms | searchFilter : valueSearch : selectedFilter)?.length > 0; else noDataTemplate">
                            <tr *ngFor="let form of surveyForms | searchFilter : valueSearch : selectedFilter; let i = index">
                                <td class="text-center">
                                    <input
                                        type="checkbox"
                                        name="forms[]"
                                        value="{{ form.id }}"
                                        [(ngModel)]="form.state"
                                        (change)="updateCheckedValues(form.surveyFormId)"
                                    />
                                </td>
                                <td
                                    (click)="showSideBar(i)"
                                    class="cursor-pointer w-max-ellipsis"
                                    data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight"
                                    aria-controls="offcanvasRight"
                                    scope="row"
                                >
                                    <div [ngbTooltip]="form.name" placement="bottom" class="text-ellipsis">
                                        {{ form.name }}
                                    </div>
                                </td>
                                <td scope="row">{{ form.createdAt | date : 'dd/MM/yyyy HH:mm' }}</td>
                                <td scope="row">{{ form.createdBy }}</td>
                                <td class="text-center" scope="row">
                                    <div class="d-flex flex-row flex-nowrap">
                                        <div class="me-3 color-primary" placement="top" ngbTooltip="แก้ไข" (click)="edit(form)">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </div>
                                        <div class="color-red" placement="top" ngbTooltip="ลบ" (click)="deleteForm(form.surveyFormId)">
                                            <i class="fa-solid fa-trash"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noDataTemplate>
                            <tr>
                                <td colspan="4" class="text-center">ไม่มีข้อมูล</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
            <ul class="pagination cursor-pointer justify-content-center">
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link custom-link preBtn" (click)="pageChange(1)" aria-label="Previous">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link custom-link" (click)="pageChange(currentPage - 1)" aria-label="Previous">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
                <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage == page">
                    <a class="page-link custom-link" (click)="pageChange(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link custom-link" (click)="pageChange(currentPage + 1)" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage == totalPages">
                    <a class="page-link custom-link nextBtn" (click)="pageChange(totalPages)" aria-label="Next">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
                <li class="page-item ms-3">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="pageSize" (change)="pageSizeChange()">
                        <option class="dropdown-item" *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
                    </select>
                </li>
            </ul>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-body">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="d-flex">
                            <div class="p-2 flex-grow-1" type="button" placement="bottom" ngbTooltip="ปิด">
                                <fa-icon class="" [icon]="faCircleXmark" size="lg" data-bs-dismiss="offcanvas"></fa-icon>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div *ngIf="visibleLeftSideBar" class="p-2" type="button" (click)="changeSideBar('left')">
                                <fa-icon [icon]="faArrowLeft" size="lg" placement="bottom" ngbTooltip="ย้อนกลับ"></fa-icon>
                            </div>
                            <div
                                *ngIf="visibleRightSideBar"
                                class="p-2"
                                type="button"
                                (click)="changeSideBar('right')"
                                placement="bottom"
                                ngbTooltip="ถัดไป"
                            >
                                <fa-icon [icon]="faArrowRight" size="lg"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="p-5 shadow call-side-detail">
                        <div class="d-flex justify-content-end">
                            <div class="d-flex flex-wrap">
                                <div class="flex-grow-1" type="button" (click)="edit(detailItem)" placement="bottom" ngbTooltip="แก้ไข">
                                    <fa-icon class="color-primary" [icon]="faPenToSquare" size="lg"></fa-icon>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h4>ชื่อแบบฟอร์ม</h4>
                            <h6>{{ detailItem?.name || emptyItem }}</h6>
                        </div>
                    </div>
                    <div class="p-5 shadow call-side-change-by">
                        <div class="row row-side">
                            <div class="col">
                                <h5>สร้างโดยผู้ใช้</h5>
                                <p class="m-0">{{ detailItem?.createdBy || emptyItem }}</p>
                            </div>
                            <div class="col">
                                <h5>เวลาที่แก้ไข</h5>
                                <p class="m-0">{{ (detailItem?.createdAt | date : 'dd/MM/yyyy  HH:mm') || emptyItem }}</p>
                            </div>
                        </div>
                        <div class="row row-side">
                            <div class="col">
                                <h5>แก้ไขล่าสุดโดยผู้ใช้</h5>
                                <div>{{ detailItem?.modifiedBy || emptyItem }}</div>
                            </div>
                            <div class="col">
                                <h5>เวลาที่แก้ไขล่าสุด</h5>
                                <div>{{ (detailItem?.modifiedAt | date : 'dd/MM/yyyy  HH:mm') || emptyItem }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
