<div class="h-100">
  <div class="bg-white rounded shadow w-100 h-100">
      <div class="p-4 d-flex flex-column justify-content-between flex-md-row flex-lg-row gap-4 align-items-center w-100">
          <p class="m-0 d-flex fs-5">แบบฟอร์มสำรวจ</p>
          <div class="d-flex flex-nowrap flex-grow-1">
              <div class="input-group">
                  <span class="input-group-text bg-white border border-end-0 color-primary" id="basic-addon1">
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
                  <input
                      id="table-complete-search"
                      type="text"
                      class="form-control border border-start-0 shadow-none"
                      name="searchTerm"
                      [(ngModel)]="surveyFormService.searchTerm"
                      placeholder="ค้นหา..."
                      aria-describedby="basic-addon1"
                      style="width: 70%"
                  />
                  <select class="form-select shadow-none" aria-label="Default select example" [(ngModel)]="selectedFilter">
                      <option *ngFor="let op of filterOption" [value]="op.code">
                          {{ op.name }}
                      </option>
                  </select>
              </div>
          </div>
          <button class="d-flex align-items-center gap-2 d-md-none d-lg-flex btn-primary-color rounded p-2 text-white" (click)="formManage()">
              <i class="fa-solid fa-plus"></i>
              สร้างแบบสำรวจ
          </button>
          <div class="d-none d-md-flex d-lg-none p-2 btn-primary-color rounded text-white" (click)="formManage()">
              <i class="fa-solid fa-plus"></i>
          </div>
      </div>
      <!-- <div *ngIf="selectedForm.length != 0">
          <div class="flex p-3 bg-gray-50">
              <button
                  type="button"
                  pButton
                  pRipple
                  icon="pi pi-file-excel"
                  (click)="exportExcel()"
                  class="p-button-success mr-2"
                  pTooltip="XLS"
                  tooltipPosition="bottom"
              ></button>
              <button
                  type="button"
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  (click)="editSurveys()"
                  class="p-button-warning mr-2"
                  pTooltip="Edit"
                  tooltipPosition="bottom"
              ></button>
              <button
                  type="button"
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  (click)="deleteSurvey()"
                  class="p-button-danger ml-auto"
                  pTooltip="Delete"
                  tooltipPosition="bottom"
              ></button>
          </div>
      </div> -->
      <div class="table-responsive">
          <table class="table">
              <thead class="table-light">
                  <tr>
                      <th scope="col" style="width: 4rem"></th>
                      <th scope="col" style="width: 70%" sortable="survey_form" (sort)="onSort($event)">แบบฟอร์มสำรวจ</th>
                      <th scope="col" style="width: 15%" sortable="save_date" (sort)="onSort($event)">วันที่บันทึก</th>
                      <th scope="col" style="width: 15%" sortable="save_by" (sort)="onSort($event)">บันทึกโดย</th>
                      <th scope="col">จัดการ</th>
                  </tr>
              </thead>
              <tbody>
                  @for (form of forms$ | async; track form.no) {
                  <tr>
                      <td scope="row"><input type="checkbox" value="form"/></td>
                      <td [ngbTooltip]="form.survey_form"
                        placement="bottom"
                        class="text-ellipsis"
                      >
                      {{ form.survey_form }}
                    </td>
                      <td>{{ form.save_date }}</td>
                      <td><a href="">{{ form.save_by }}</a></td>
                      <td class="text-center">
                        <div class="btn-table" role="group">
                            <button type="button" class="btn btn-outline-success me-2" placement="top" ngbTooltip="Edit"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
                            <button type="button" class="btn btn-outline-danger" placement="top" ngbTooltip="Delete"><fa-icon [icon]="faTrashCan"></fa-icon></button>
                        </div>
                      </td>
                  </tr>
                  } @empty {
                  <tr>
                      <td colspan="6" style="text-align: center">No countries found</td>
                  </tr>
                  }
              </tbody>
          </table>
          <div class="d-flex justify-content-between p-3">
              <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="surveyFormService.page" [pageSize]="surveyFormService.pageSize">
              </ngb-pagination>

              <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="surveyFormService.pageSize">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
              </select>
          </div>
      </div>
  </div>
</div>
